<article>
	<header>
		<h1>Hai<span>ulike arter vi har sett</span></h1>
		<time>2007-2015</time>
		<img class="main-image" src="https://farm8.staticflickr.com/7544/15501199278_7ee04e7d6a_h.jpg" alt="Vegg av Scalloped Hammerhead Sharks, Wolf Island, Galápagos" />
	</header>

	<div class="post-content bg-subtle-grey hai">

		<p>
			Vi så vår første hai i Egypt i 2007. Det er noe helt eget ved å se disse flotte, store fiskene i sine naturlige omgivelser.
			Siden da har vi dykket med mange arter, forskjellige steder i verden. Nedenfor er en liste over alle artene vi har sett under
			dykking og snorkling. For hver art er der og en oversikt over hvor og når vi har sett arten, samt en beskrivelse av haien og bilder vi har tatt selv.
		</p>

		<p>
			Det er og gøy å oppsøke nye steder hvor vi har sjans å se arter vi ikke har sett før. Det gjør dykkingen enda mer spennende.
		</p>

		<p>
			Så langt har vi sett 24 forskjellige arter i løpet av tiden vi har dykket. Det finnes per i dag 502 kjente haiarter, så det er fortsatt 478 arter vi ikke har sett.
		</p>

		<h3 id="in-page-menu">Arter vi har sett</h3>
		<ol class="in-page-menu" reversed="reversed">
			<li><a href="#pleagicthresher">Pleagic Thresher <i>(Alopias pleagicus)</i></a></li>
			<li><a href="#darkshyshark">Dark Shyshark <i>(Haploblepharus pictus)</i></a></li>
			<li><a href="#broadnosesevengillshark">Broadnose Sevengill Shark <i>(Notorynchus cepedianus)</i></a></li>
			<li><a href="#shortfinmako">Shortfin Mako Shark <i>(Isurus oxyrinchus)</i></a></li>
			<li><a href="#blueshark">Blue Shark <i>(Prionace glauca)</i></a></li>
			<li><a href="#puffaddershyshark">Puffadder Shyshark <i>(Haploblepharus edwardsii)</i></a></li>
			<li><a href="#whiteshark">White Shark <i>(Carcharodon carcharias)</i></a></li>
			<li><a href="#tigershark">Tiger Shark <i>(Galeocerdo cuvier)</i></a></li>
			<li><a href="#blacktipshark">Blacktip Shark <i>(Carcharhinus limbatus)</i></a></li>
			<li><a href="#sandtigershark">Sand tiger shark <i>(Carcharias taurus)</i></a></li>
			<li><a href="#bullshark">Bull Shark <i>(Carcharhinus leucas)</i></a></li>
			<li><a href="#silkyshark">Silky Shark <i>(Carcharhinus falciformis)</i></a></li>
			<li><a href="#galapagosshark">Galapagos Shark <i>(Carcharhinus galapagensis)</i></a></li>
			<li><a href="#scallopedhammerheadshark">Scalloped Hammerhead Shark<i>(Sphyrna lewini)</i></a></li>
			<li><a href="#caribbeanreefshark">Caribbean Reef Shark<i>(Carcharhinus perezi)</i></a></li>
			<li><a href="#nurseshark">Nurse Shark <i>(Ginglymostoma cirratum)</i></a></li>
			<li><a href="#whaleshark">Whale Shark <i>(Rhincodon typus)</i></a></li>
			<li><a href="#blindshark">Blind Shark <i>(Brachaelurus waddi)</i></a></li>
			<li><a href="#spottedwobbegong">Spotted Wobbegong Shark<i>(Orectolobus maculatus)</i></a></li>
			<li><a href="#silvertipshark">Silvertip Shark <i>(Carcharhinus albimarginatus)</i></a></li>
			<li><a href="#greyreefshark">Grey Reef Shark <i>(Carcharhinus amblyrhynchos)</i></a></li>
			<li><a href="#whitetipreefshark">Whitetip Reef Shark <i>(Triaenodon obesus)</i></li>
			<li><a href="#zebrashark">Zebra Shark <i>(Stegostoma fasciatum)</i></a></li>
			<li><a href="#blacktipreefshark">Blacktip Reef Shark <i>(Carcharhinus melanopterus)</i></a></li>
		</ol>

		<section id="pleagicthresher">
			<h2>Pleagic Thresher <i>(Alopias pleagicus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Mackerel Sharks</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Sårbar</dd>
					<dt>Største registrerte lengde</dt>
					<dd>365 cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-Pasific</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Pelagic_thresher">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 4, points: "11.308333,124.191667"}) %>
			</aside>

			<p>
				Pleagic Thresher er en av tre arter thresher shark, som hører hjemme i Mackerel familien. Disse haiene
				kjennetegnes av den lange elegante halen, som ofte er like lang som kroppen. Thesherene bruker halen som en pisk
				til å svimeslå stimfisker.
			</p>

			<p>
				Monal Shoal utenfor Malapascua i Fillipinene er det eneste stedet i verden hvor man regelmessig kan se disse flotte haiene.
				De oppholder seg normalt på dypere vann, men på Moal Shoal kommer de opp fra 200 m dyp og inn på platået på ca 20-25m dyp.
				Haiene kommer inn hit for å få hud, munn og gjeller renset for parasitter av Bluestreak og Moon Cleaner Wrasse.
			</p>

			<p>
				Haiene kommer inn på Monal Shoal om natten, så for å se haiene går man i vannet ved soloppgang, før haiene forsvinner ned i dypet igjen.
			</p>

			<p>
				Pleagic Thresher er mindre enn Common Thresher. Man kan og se forskjell på artene ved at Common Thresher er hvit på magen, og opp over brystfinnene.
				Pleagic Thresher er lys kun under brystfinnene. I tillegg er Pleagic Thresher mindre, og har rundere brystfinner.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-05-03">03. mai 2015, Monad Shoal, Malapascua, Fillipinene</time></li>
			</ol>

			<figure>
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17350914635/in/set-72157647612927194", url: "https://farm8.staticflickr.com/7683/17350914635_b38fac8f5f_b.jpg", caption: "Pleagic Thresher Shark, Monad Shoal, Malapascua, Philippines" }) %>
			</figure>
		</section>

		<section id="darkshyshark">
			<h2>Dark Shyshark <i>(Haploblepharus pictus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Catshark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat lc">Ikke truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>60 cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Namibia til Sør-Afrika</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Dark_shyshark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-34.212512,18.474884"}) %>
			</aside>

			<p>
				Dark Shyshark er en nær slektning av Puffadder Shyshark som vi så i Mossel Bay. Den eneste synlige
				forskjellen er et litt annet mørkere mønster uten de tydelige hvite prikkene.
			</p>

			<p>
				Dark Shyshark finnes kun i sørlige deler av Namibia og Sør-Afrika, og arten er utsatt på grunn av sin
				begrensede geografiske utbredning. Navnet Shyshark har den fått på grunn av oppførselen hvor den krøller seg
				sammen til en ring og skjuler øynene med halen når den blir redd.
			</p>

			<p>
				Dark Shyshark sin reproduksjonstrategi er oviparous, som vil si at den legger egg. Den legger to og to egg
				om gangen, som klekker etter 6 til 10 måneder.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-17">17. februar 2015, Simon's Town, Sør-Afrika</time></li>
			</ol>

			<figure class="">
				<a href="https://www.flickr.com/photos/hegerokenes/16613920781/in/set-72157647612927194">
					<img src="https://farm9.staticflickr.com/8614/16613920781_121ac40fc2_h.jpg" alt=", 2015" />
				</a>
				<figcaption>Dark shyshark i tareskogen i Simon's Town</figcaption>
			</figure>

		</section>

		<section id="broadnosesevengillshark">
			<h2>Broadnose Sevengill Shark <i>(Notorynchus cepedianus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Cow shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat dd">Mangler data</dd>
					<dt>Største registrerte lengde</dt>
					<dd>296 cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Patchy inshore cool temperate wates</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Broadnose_sevengill_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-34.212512,18.474884"}) %>
			</aside>

			<p>
				Etter vi hadde vært å sett på Shortfin Mako Shark og Blue Shark stoppet vi i tareskogen utenfor
				Simon's Town for å se på Broadnose Sevengill Sharks. Dette er den eneste haien med syv gjellåpninger.
				Den har en kraftig kropp, bredt hode med butt snute, og kun en ryggfinne.
			</p>

			<p>
				Haien tilhører Cow shark familien, en familie som regnes for å være de mest primitive haiene. Grunnen til
				dette er at disse haiene har utviklet seg minst fra de forhistoriske forfedrene til alle dagens haiarter. Den
				har og en norsk slektning i Bluntnose sixgill shark (Kamtannhai, Hexanchus griseus).
			</p>

			<p>
				Så snart vi hoppet i vannet og gikk ned i tareskogen dukker haiene opp. De svømte helt rolig forbi oss på under
				en meters avstand og virket veldig nyskjerrige på oss, men uten den samme iveren som blåhaien.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-17">17. februar 2015, Simon's Town, Sør-Afrika</time></li>
			</ol>

			<div class="imagestrip col-2">
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16407753547/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8579/16407753547_1a6013afb1_z.jpg" alt=", 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16615030705/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8667/16615030705_8a83a9fab9_z.jpg" alt=", 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

		</section>

		<section id="shortfinmako">
			<h2>Shortfin Mako Shark <i>(Isurus oxyrinchus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Mackerel Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Sårbar</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 400 cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide in temperate and tropical seas</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Shortfin_mako_shark">Wikipedia</a>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-34.788995,18.171387"}) %>
			</aside>

			<p>
				På samme dykk som vi så Blue Shark så vi og to Shortfin Mako Shark. Dette er verdens
				raskeste hai, og kan nå en toppfart på 50 km/t.
			</p>

			<p>
				Vi fikk et flott møte med to stykker som holdt seg
				i området under hele dykket vårt. Flere ganger kom den nære for å undersøke oss, men den var samtidig
				langt mer forsiktig enn blåhaiene. Man kunne tydelig se på den ene at den var ung da de har et mørkt område på nesetippen.
			</p>

			<p>
				Shortfin Mako Shark er en makrell hai, og i samme familie som hvithaien. Håbrann som finnes i norske farvann
				er og en slektning av denne haien.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-17">17. februar 2015, 40 km south of Cape Point, Sør-Afrika</time></li>
			</ol>

			<div class="imagestrip col-2">
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16614327902/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8594/16614327902_cb344c7841_z.jpg" alt=", 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16589005906/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8571/16589005906_8c4dd49298_z.jpg" alt=", 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

		</section>

		<section id="blueshark">
			<h2>Blue Shark <i>(Prionace glauca)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>380 cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide temperate and tropical seas, possibly most-wide ranging shark</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Blue_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-34.788995,18.171387"}) %>
			</aside>

			<p>
				Blue Shark er en av våre favoritt haier. Den er en hai som holder til ute på det åpne hav, fra overflaten
				og ned til 350 meters dyp. Dette er ikke en hai man normalt treffer under dykk på grunt vann og på koraller.
			</p>

			<p>
				Vi reiste til Simon's Town utenfor Cape Town hvor vi dro ut på dykketur med Shark Explorers. De arrangerer
				en dykketur som går langt til havs sør for Cape Point, det sør-østligste punktet i Afrika. Vi måtte hele 40 km
				fra land før vi fant en varm sidestrøm fra Agulhas strømmen. Her var vannet 3-4 grader varmere, og blåhaiene jakter
				fisk og akkar i denne strømmen.
			</p>

			<p>
				Etter 10-15 minutter med chumming (tønne med sardiner som sprer god lukt i vannet) dukket 4 Blue Sharks opp.
				De er veldig nysgerrige og kommer helt nære for å undersøke. Et par ganger måtte vi puffe de unna for at de ikke skulle
				blir for nærgående.
			</p>

			<p>
				Blue Shark har blitt oversvert i norske farvann, fra Varangerfjorden til svenskegrensen.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-17">17. februar 2015, 40 km south of Cape Point, Sør-Afrika</time></li>
			</ol>

			<div class="imagestrip col-3">
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16429139499/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8621/16429139499_dc8cc3d810_z.jpg" alt="Simon's town Sør-Afrika, 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/15995235253/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8673/15995235253_7302bce11d_z.jpg" alt="Simon's town Sør-Afrika, 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/15995215643/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8574/15995215643_95e6860d4e_z.jpg" alt="Simon's town Sør-Afrika, 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

			<figure class="">
				<a href="https://www.flickr.com/photos/hegerokenes/16613872291/in/set-72157647612927194">
					<img src="https://farm9.staticflickr.com/8603/16613872291_6607a3efda_h.jpg" alt="Simon's town Sør-Afrika, 2015" />
				</a>
				<figcaption>Nærgående Blue Shark</figcaption>
			</figure>

		</section>

		<section id="puffaddershyshark">
			<h2>Puffadder Shyshark <i>(Haploblepharus edwardsii)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Catshark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>60 cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Sør-Afrika</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Puffadder_shyshark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-34.173536,22.157364"}) %>
			</aside>

			<p>
				Puffadder Shyshark er den minste haien vi har sett. Navnet sitt (shyshark) har den fått fra oppførlsen den har
				når den blir redd. Da snurrer den seg sammen som en ball og prøver å skjule øynene med halen.</p>

			<p>
				Den andre delen av navnet, puffadder, har den fått på grunn av mønsteret på skinnet.
				Den har samme farge og mønster som Puffadder slangen som lever i Sør-Afrika.
			</p>

			<p>
				Haien er en del av gruppen med haier som kalles for cat sharks på grunn av sine avlange kattelignende øyne.
			</p>

			<p>
				Vi fikk sett Puffader Shysharken under et dykk fra havna i Mossel Bay sammen med Electrodive.
				Haien holder til helt inne ved land, på 6-8m dyp.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-13">13. februar 2015, Mossel Bay, Sør-Afrika</time></li>
			</ol>

			<div class="imagestrip col-2">
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/15994410113/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8584/15994410113_524fbcf764_z.jpg" alt="Puffadder Shyshark, Mossel Bay 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16588216406/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8611/16588216406_355eddf168_z.jpg" alt="Puffadder Shyshark, Mossel Bay 2015" />
					</a>
					<figcaption></figcaption>
				</figure>
			</div>

		</section>

		<section id="whiteshark">
			<h2>White Shark <i>(Carcharodon carcharias)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Mackerel shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Sårbar</dd>
					<dt>Største registrerte lengde</dt>
					<dd>Omrent 600 cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide except polar seas</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Whale_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-34.683264,19.328728|-30.257436,30.865402"}) %>
			</aside>

			<p>
				Hvithaien er selve sjefen av alle haier. Den kanskje mest ikoniske, fryktede og misforståtte haien av alle. Det er den største av haiene som jakter og ikke spiser plankton.
			</p>
			<p>
				De fleste som ser Hvithai gjør dette under burdykking i Sør-Afrika, Mexico eller Australia. Vi var derimot så ekstremt heldige at vi fikk se en under dykk på Aliwal Shoal! Dette er ekstremt sjeldent. På Youtube finnes det bare to klipp av dykkere som har fått hvithai på film fra Aliwal. Eieren av Scuba Addicts har selv aldri sett en under dykking, og guiden vår Matt har kun en gang tidligere sett Hvithai.
			</p>

			<p>
				Haien vi så kom inn på et dykk med åte. Det var allerede 40-50 Blacktip Sharks i vannet når Hvithaien dukket opp etter ca 10 minutter. Den sirklet oss to ganger før den forsvant. Jonas var heldig og kom i god posisjon til å få flotte bilder. Sikten og lyset var godt, så han fikk virkelig sett haien på nært hold. Dykkeguide Matt estimerte haien til å være mellom 3.5 m og tett opp til 4 m stor.
			</p>

			<p>
				Etter dykkingen på Aliwal Shoal stoppet vi en helg i Gansbaai, ofte omtalt som "Great White Capital" i Sør-Afrika. Her var vi ute på tre turer med tradisjonell burdykking. Å se haien i kaldt vann med dårlig sikt inne i et bur kan selvsagt ikke sammenlignes med å se den slik vi gjorde i Aliwal Shoal.
			</p>

			<p>
				Burdykkingen fungerer slik at de chummer vannet med fiskeavfall fra laks blandet med vann. Dette lager duft i vannet som tiltrekker seg haiene. Når en hai dukker opp bruker manskapet et tau med et stykke tunfisk til å lokke haien opp til overflaten.
			</p>

			<p>
				Vi hadde 5-7 haier innom båten på hver av turene. De største var i overkant av 4 m. For å skåne haiene skal selskapene som driver med burdykking unngå at haien får tak i og spiser opp agnet. De skal og unngå å dra haien på buret. Her opplevde vi at selskapet vi var ute med ikke oppererte i henhold til god praksis.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-06">06. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-14">14. februar 2015 (burdykking), Gansbaai, Sør-Afrika</time></li>
				<li><time datetime="2015-02-15">15. februar 2015 (burdykking), Gansbaai, Sør-Afrika</time></li>
				<li><time datetime="2015-02-15">15. februar 2015 (burdykking), Gansbaai, Sør-Afrika (tur 2)</time></li>
			</ol>

			<figure class="">
				<a href="https://www.flickr.com/photos/hegerokenes/16462225235/in/set-72157647612927194">
					<img src="https://farm8.staticflickr.com/7289/16462225235_1f08d19cab_h.jpg" alt="White Shark, Aliwal Shoal 2015" />
				</a>
				<figcaption>White Shark</figcaption>
			</figure>

		</section>

		<section id="tigershark">
			<h2>Tiger Shark <i>(Galeocerdo cuvier)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>minst 550 cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide temperate and tropical seas</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Tiger_shark">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-30.257436,30.865402"}) %>
			</aside>

			<p>
				Tigerhaien er den nest største rovfisken etter Hvithaien. Det er og en av de flotteste haiene, med sine karikaristiske tigerstriper. Å få dykke med disse store haiene på Aliwal Shoal var en fantastisk opplevelse!
			</p>

			<p>
				Tigerhaien er sky av seg, og det gikk ganske lang tid før den turte komme nær tønnene med åte. Vi så Tigerhai tre av dagene, hvor den siste dagen var helt klart best. Her hadde vi tre haier, den største over 3.5 m lang, som holdt seg rundt oss og flere ganger kom helt nærme.
			</p>

			<p>
				Vi var også heldige og fikk sett en stor hunnhai som var tydelig drektig.
			</p>

			<p>
				Tigerhaien er kjent for å være altetende, og spiser fisker, havpattedyr, skilpadder, blekksprut, skater og andre haier.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-03">03. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-04">04. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-05">05. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-06">06. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-06">06. februar 2015, Aliwal Shoal, Sør-Afrika (dykk 2)</time></li>
			</ol>

			<div class="col-2 imagestrip">
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16276323257/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7352/16276323257_f01b593bbf_z.jpg" alt="" />
					</a>
					<figcaption>Store sorte øyne</figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/15842143143/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8655/15842143143_bf93b4d1de_z.jpg" alt="" />
					</a>
					<figcaption>Bred snute</figcaption>
				</figure>
			</div>

		</section>

		<section id="blacktipshark">
			<h2>Blacktip Shark <i>(Carcharhinus limbatus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requim shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>255cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Widespread tropical and subtropical seas</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Blacktip_shark">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-30.257436,30.865402"}) %>
			</aside>

			<p>
				Blacktip Shark er en hai vi ikke har sett før, så dette ble art nummer 16 vi ser under dykking.
				Denne arten kan bli opp til 280 cm lang, og veie 123 kg. Haiene vi så var forholdsvis store,
				og må ha vært fullvoksne. Blacktip finnes i alle verdens hai, i tropisk og subtropisk vann.
				Den spiser primært fisk, og en og annen skate eller andre små haier. Den jakter ved soloppgang og solnedgang.
			</p>

			<p>
				Blacktip Shark føder levende unger etter et 12 mnd langt svangerskap, og får normalt 4-7 unger som er mellom 55-60 cm ved fødsel.
				Blacktip Shark er haien man har størst sjanse å se på Aliwal Shoal hele året. Blacktip fiskes både av sportsfiskere og komersielle fiskere,
				og kjøtt, lever og finner brukes. Flere av haiene vi så hadde tydelige arr og kroker i munnvikene etter mislykket fiske. Arten er definert som nær truet, og er utsatt for overfiske pga. sin trege reproduksjon.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-03">03. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-04">04. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-05">05. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-06">06. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-06">06. februar 2015, Aliwal Shoal, Sør-Afrika (dykk 2)</time></li>
			</ol>

			<div class="col-3 imagestrip">
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/15839647604/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8650/15839647604_2bca096d48_z.jpg" alt="Blacktip Shark, Aliwal Shoal, Sør-Afrika" />
					</a>
					<figcaption>Krokskadet hai med skjevt smil</figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/15842091773/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7300/15842091773_f33d048168_z.jpg" alt="Blacktip Shark, Aliwal Shoal, Sør-Afrika" />
					</a>
					<figcaption>Pilotfisk og remora</figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16274727420/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8636/16274727420_2c55eed147_z.jpg" alt="Blacktip Shark, Aliwal Shoal, Sør-Afrika" />
					</a>
					<figcaption>Haien hilser på remoraen</figcaption>
				</figure>
			</div>

		</section>

		<section id="sandtigershark">
			<h2>Sand tiger shark <i>(Carcharias taurus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Sandtiger Sharks</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Sårbar</dd>
					<dt>Største registrerte lengde</dt>
					<dd>320cm (ubekreftet 430cm)</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Warm temperate and tropical Atlantic, Mediterranean and Indo-West Pasific</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Sand_tiger_shark">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-30.257436,30.865402"}) %>
			</aside>

			<p>
				Sand tiger shark er også kjent som Grey nurse shark og Ragged-tooth shark eller bare raggie. Dette er den femtende haiarten vi ser på dykk.
				Sand tiger sharks både i Sør-Afrika og Australia forflytter seg over store strekninger i løpet av året.
			</p>
			<p>
				Sand tiger shark har en formeringsstrategi som heter intrauterine cannibalism.
				Det betyr at det er ca 50 embryer, men når den første blir ca 10cm stor spiser den opp alle søksnene sine i magen til moren, og kun den sterkeste overlever.
				Denne blir født om sommeren langs kysten av Eastern-Cape i Sør-Afrika. De formerer seg ca hvert tredje år. Da svømmer de nordover mot Aliwal Shoal som ligger
				litt sør for Durban, hvor de i perioden Juli til November samles i stort antall for å parre seg. På sensommeren befinner de seg lengere nord, helt oppe ved Maputo i Mosambik.
				På høsten beveger de seg tilbake sørover til kaldere vann for å føde. Totalt forflytter de seg over 3000km langs kysten av det sørlige Afrika.
			</p>

			<p>
				Den har et karikaristisk utseende, og svømmer med åpen munn og tre rader med tenner på tørk. De jakter om natten og spiser fisk, skater og andre mindre haier. Sand tiger sharks er en truet art.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-02">02. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-02">02. februar 2015, Aliwal Shoal, Sør-Afrika (dykk 2)</time></li>
				<li><time datetime="2015-02-03">03. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-02-03">03. februar 2015, Aliwal Shoal, Sør-Afrika (dykk 2)</time></li>
				<li><time datetime="2015-02-05">05. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
			</ol>

			<div class="col-2 imagestrip">
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16275953409/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7365/16275953409_b238f41275_c.jpg" alt="Sandtiger Shark, Aliwal Shoal, Sør-Afrika" />
					</a>
					<figcaption>Sandtiger Shark, Aliwal Shoal, Sør-Afrika</figcaption>
				</figure>
				<figure class="">
					<a href="https://www.flickr.com/photos/hegerokenes/16460452701/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7410/16460452701_4bdacfb1d4_c.jpg" alt="Sandtiger Shark, Aliwal Shoal, Sør-Afrika" />
					</a>
					<figcaption>Sandtiger Shark, Aliwal Shoal, Sør-Afrika</figcaption>
				</figure>
			</div>

		</section>

		<section id="bullshark">
			<h2>Bull Shark <i>(Carcharhinus leucas)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 340cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide tropical and sub-tropical seas</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Bull_shark">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 3, points: "21.579231,-77.117157|20.564332,-87.026825"}) %>
			</aside>

			<p>
				Bull Shark er en hai med ufortjent dårlig rykte. Det er bekreftet at den har stått bak en del angrep på
				mennesker. Disse angrepene skyldes hovedsaklig at Bull Shark ofte befinner seg i samme område som mennesker.
			</p>

			<p>
				Bull Shark trives i grunt vann nære kysten og i elver. Bull Shark er den haien som best tåler ferskvann, og
				den er observert helt oppe i Illinois i Mississippi, og hele 4000km oppe i Amazonas.
			</p>

			<p>
				Bull Shark er en stor og kraftig hai. Den største registrerte vekten er 315kg, og hunnene kan bli opp til 340cm.
			</p>

			<p>
				Vi har sett Bull Shark ved to anledninger. Når vi var på Cuba la vi turen innom Santa Lucia for å se disse flotte haiene.
				Her fikk vi to flotte dykk med 4-5 fullvoksne hun-haier. På Playa del Carmen i Mexico er det og populært å dykke med haiene.
				Her tok vi et PADI Speciality kurs, som bestod av to dykk med Bull Shark, samt en del teori hvor vi lærte mer om haien.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-11-24">24. november 2014, Santa Lucia, Cuba</time></li>
				<li><time datetime="2014-11-26">26. november 2014, Santa Lucia, Cuba</time></li>
				<li><time datetime="2014-12-07">07. desember 2014, Playa del Carmen, Mexico</time></li>
				<li><time datetime="2014-12-07">07. desember 2014, Playa del Carmen, Mexico (dykk 2)</time></li>
			</ol>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/16059614542/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7544/16059614542_96dbcc5403_z.jpg" alt="Bull Shark, Santa Lucia, Cuba" />
					</a>
					<figcaption>Bull Shark, Santa Lucia, Cuba</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15416486234/in/set-72157647612927194/">
						<img src="https://farm8.staticflickr.com/7489/15416486234_eaeec60b60_z.jpg" alt="Bull Shark som snuser seg fram til en matbit, Santa Lucia, Cuba" />
					</a>
					<figcaption>Bull Shark som snuser seg fram til en matbit, Santa Lucia, Cuba</figcaption>
				</figure>
			</div>

		</section>

		<section id="silkyshark">
			<h2>Silky Shark <i>(Carcharhinus falciformis)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 330cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide tropical seas</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Silky_shark">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 3, points: "1.375337,-91.826692"}) %>
			</aside>

			<p>
				Silky Shark så vi ved to anledninger på Wolf Island, Galápagos. Det er en forholdsvis lang og slank hai.
				Det er en av de vanligste haiene å finne i den pleagiske-vannsonen (ikke nære bunnen, og ikke nære overflaten), og den finnes i tropisk vann i hele verden.
			</p>

			<p>
				Silky Shark er kjent for være nysgerrig, og svømmer ofte opp til dykkere. Begge gangene vi så Silky Shark på
				Galápagos var under sikkerhetsstoppet eller før vi gikk ombord i båten. Da kom de flere ganger opp mot oss før de snudde
				og svømte ned igjen.
			</p>

			<p>
				Vi fikk desverre ikke noe godt bilde av Silky Shark, så illustrasjonen nedenfor er hentet fra boken Sharks of the World.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galpágos, Ecuador (dykk 2)</time></li>
			</ol>

			<figure class="page-width">
				<a href="https://www.flickr.com/photos/hegerokenes/16326479547/in/set-72157647612927194">
					<img src="https://farm8.staticflickr.com/7309/16326479547_edae5f36b0_c.jpg" alt="Illustrasjon Silky Shark (Sharks of the World)" />
				</a>
				<figcaption>Illustrasjon Silky Shark (Sharks of the World)</figcaption>
			</figure>

		</section>

		<section id="galapagosshark">
			<h2>Galapagos Shark <i>(Carcharhinus galapagensis)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 370cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide, patchy, mainly around warm-temperate to tropical oceanic islands</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Galapagos_shark">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 4, points: "1.375337,-91.826692|1.673147,-91.997977"}) %>
			</aside>

			<p>
				Galapagos Shark er en annen hai vi så ved flere anledninger på Galápagos. Dette er en forholdsvis stor hai med
				slank kropp. På Wolf Island så vi på ett dykk rundt 50 Galapagos Shark som svømte på rekke etter hverandre. De største
				var godt over 3m. Galapagos Shark er stor nok til å spise av sjøløvene som lever på Galápagos. Til tross for navnet
				finnes den andre steder enn på Galápagos. Den finnes rundt om i verden i nærheten av øyer med varmt-temperert til tropisk vann.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-10-16">16. oktober 2014, Land Slide, Wolf Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galpágos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Land Slide, Wolf Island, Galpágos, Ecuador</time></li>
			</ol>

			<figure>
				<a href="https://www.flickr.com/photos/hegerokenes/15684872651/in/set-72157647612927194">
					<img src="https://farm4.staticflickr.com/3944/15684872651_61b0d5c316_b.jpg" alt="Galapagos Shark, Wolf Island, Galápagos" />
				</a>
				<figcaption>Galapagos Shark, Wolf Island, Galápagos</figcaption>
			</figure>

		</section>

		<section id="scallopedhammerheadshark">
			<h2>Scalloped Hammerhead Shark<i>(Sphyrna lewini)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Hammerhead Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>420cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide warm temperate and tropical seas</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Scalloped_hammerhead">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "1.375337,-91.826692|1.673147,-91.997977|-0.567152,-90.142533|-0.233333,-91.616667|-30.250000,30.816667"}) %>
			</aside>

			<p>
				Haien vi har sett flest ganger, og i størst antall, er Scalloped Hammerhead Shark. Dette er hammerhaien
				man ser oftest på Galápagos. Mange har kanskje sett bilder og film av store stimer med hammerhai. Da er det
				som regel Scalloped Hammerhead Shark som er arten. På Galápagos har man god sjanse å se disse store stimene
				på de nordlige øyene Wolf og Darwin. Her går haiene i stim, og kommer inn mot øyene for å få huden sin renset
				for parasitter og bakterier. Hunnene har ofte bitt fra hannene etter parring, og trenger å få renset sårene for å
				unngå infeksjoner. Vi så og 30-40 Scalloped Hammerhead Sharks på dagstur fra Santa Cruz ut til Gordon Rocks, så det
				er fult mulig å se disse haiene på Galápagos uten å dra på en dyr livaboard tur til de nordlige øyene.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-10-15">15. oktober 2014, Roca Redonda, Galápagos, Ecuador</time></li>
				<li><time datetime="2014-10-15">15. oktober 2014, Roca Redonda, Galápagos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Land Slide, Wolf Island, Galápagos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galápagos, Ecuador</time></li>
				<li><time datetime="2014-10-16">16. oktober 2014, Darwins Arch, Darwin Island, Galápagos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Elephant, Wolf Island, Galápagos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galápagos, Ecuador</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galápagos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2014-10-23">23. oktober 2014, Gordon Rocks, Galápagos, Ecuador</time></li>
				<li><time datetime="2014-10-23">23. oktober 2014, Gordon Rocks, Galápagos, Ecuador (dykk 2)</time></li>
				<li><time datetime="2015-02-03">03. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
			</ol>

			<p></p>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15684674701/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7578/15684674701_d0ac2fe0fc_z.jpg" alt="Stim av Scalluped Hammerhead Sharks på Wolf Island, Galápagos, Ecuador" />
					</a>
					<figcaption>Stim av Scalloped Hammerhead Sharks på Wolf Island, Galápagos, Ecuador</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15684648981/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7580/15684648981_a9915647cf_z.jpg" alt="En stor Scalloped Hammerhead Shark på Darwin Island, Galápagos, Ecuador" />
					</a>
					<figcaption>En stor Scalloped Hammerhead Shark på Darwin Island, Galápagos, Ecuador</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15746583820/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8587/15746583820_35d1485b6a_z.jpg" alt="Scalloped Hammerhead Sharks på Gordon Rocks, Galápagos, Ecuador" />
					</a>
					<figcaption>Scalloped Hammerhead Sharks på Gordon Rocks, Galápagos, Ecuador</figcaption>
				</figure>
			</div>

		</section>

		<secticon id="caribbeanreefshark">
			<h2>Caribbean Reef Shark<i>(Carcharhinus perezi)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>295cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>West Atlantic, south United States to Brazil including Caribbean</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Caribbean_reef_shark">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "17.200000,-87.533333"}) %>
			</aside>

			<p>
				Caribbean Reef Shark fikk vi sett på dagstur fra Caye Caulker og ut til The Blue Hole utenfor Belize.
				Vi så den på alle tre dykkene på denne turen. Caribbean Reef Shark hører til Requiem Shark familien, og har
				et klassisk hai-utseende. Den minner veldig om en Grey Reef Shark. På dykket vårt på Half Moon Caye traff vi en
				nysgerrig Caribbean Reef Shark som kom helt nære for å undersøke oss nærmere, før den svømte videre.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-09-08">08. september 2014, Blue Hole, Belize</time></li>
				<li><time datetime="2014-09-08">08. september 2014, Half Moon Caye, Belize</time></li>
				<li><time datetime="2014-09-08">08. september 2014, Aquarium, Belize</time></li>
			</ol>

			<p></p>

			<figure>
				<a href="https://www.flickr.com/photos/hegerokenes/14998908560/in/set-72157647612927194">
					<img src="https://farm4.staticflickr.com/3887/14998908560_bc7b6fdbfd_h.jpg" alt="Caribbean Reef Shark, Half Moon Caye, Belize" />
				</a>
				<figcaption>Caribbean Reef Shark, Half Moon Caye, Belize</figcaption>
			</figure>

		</section>

		<section id="nurseshark">
			<h2>Nurse Shark <i>(Ginglymostoma cirratum)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Nurse Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat dd">Mangler data</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 300cm (sansynligvis 430cm)</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>East Pasific, west and east Atlantic</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Nurse_shark">Wikipedia</a></dt>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 5, points: "17.760192,-87.999887|20.387595,-87.059097"}) %>
			</aside>

			<p>
				Nurse Shark så vi mange av dykkene våre utenfor Cozumel. Nurse Shark er en rolig hai som ofte
				ligger på sandbunnen og slapper av. Den har ikke vanlige spisse tenner. Den har avrundede tenner
				som ser ut som knoklene på en knyttneve. Disse bruker den til å knuse skjell og krepsdyr. Den kan og
				suge maten ut av sneglehus eller skjell med en kraft fire ganger kraftigere enn en vanlig støvsuger.
				Den minner litt om Zebra Shark, og har en lang elegant hale og brede brystfinner.
			</p>

			<ol>
				<li><time datetime="2014-08-28">28. august 2014, La Francesa, Cozumel, Mexico</time></li>
				<li><time datetime="2014-08-29">29. august 2014, Punta Sur, Cozumel, Mexico</time></li>
				<li><time datetime="2014-08-29">29. august 2014, Cederal Wall, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Santa Rosa Wall, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Paso de Cederal, Cozumel, Mexico</time></li>
				<li><time datetime="2014-09-01">01. september 2014, Paso de Cederal, Cozumel, Mexico (nattdykk)</time></li>
				<li><time datetime="2014-09-06">06. september 2014, Caye Caulker, Belize</time></li>
				<li><time datetime="2014-12-10">10. desember 2014, Cederal Wall, Cozumel, Mexico</time></li>
			</ol>

			<div class="imagestrip col-4">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/14987680798/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3842/14987680798_0c0ba546bd_c.jpg" alt="" />
					</a>
					<figcaption>Nurse Sharks, Caye Caulker, Belize</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/14987713018/in/set-72157647612927194/">
						<img src="https://farm4.staticflickr.com/3848/14987713018_50f6b442a7_c.jpg" alt="" />
					</a>
					<figcaption>Nurse Sharks, Caye Caulker, Belize</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15151297366/in/set-72157647612927194/">
						<img src="https://farm6.staticflickr.com/5564/15151297366_242e1c7ee7_c.jpg" alt="" />
					</a>
					<figcaption>Nurse Sharks, Caye Caulker, Belize</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/14879939448/in/set-72157647612927194/">
						<img src="https://farm6.staticflickr.com/5564/14879939448_885152199f_c.jpg" alt="" />
					</a>
					<figcaption>Nurse Shark, Cozumel, Mexico</figcaption>
				</figure>
			</div>

		</section>

		<section id="whaleshark">
			<h2>Whale Shark <i>(Rhincodon typus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Whale Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Sårbar</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 1700-2100cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Worldwide all tropical and warm temperate seas except Mediterranean</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Whale_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 1, points: "12.913448,123.564177|16.084310,-86.871042|1.383403,-91.825147|21.516163,-86.625137"}) %>
			</aside>

			<p>
				Whale Shark er verdens største fisk. Den kalles hvalhai på grun av sin store størrelse, og oppførsel,
				som minner om en hval. Den spiser primært zoo-plankton, som den spiser ved å suge inn og filtrere store
				mengder vann. Til tross for sin store størrelse er hvalhaien helt harmløs. Fram til 1986 var arten kun
				observert 320 ganger. Siden da har noen av hvalhaiens kjerneområder blitt oppdaget. Vi reiste til
				Isla Mujeres i Mexico i August 2014 for å endelig få svømme med disse enorme haiene. Fra midten av Juni til
				midten av September samles et stort antall hvalhai utenfor Isla Mujeres / Isla Cotoy for å spise plankton. Den
				ene dagen vi var ute må det ha vært minst 45-50 hvalhai i vannet. Vi var og heldig å se hvalhai på Utila i Honduras,
				som er en annen hotspot for å se hvalhai.
			</p>

			<p>
				Til tross for sin store størrelse er det mange mysterier knyttet til hvalhaien. Man vet veldig lite om hvordan
				de formerer seg, og hvor de små hvalhaiene er. Utenfor Mexico, Hondruas og Mosambik er det stort sett unge
				hanner i størrelsen 4-7m som blir observert. Den eneste plassen man jevnlig ser de store hunnene er på Wolf og Darwin
				i Galapagos. Her var vi heldig å fikk se 10-12m lang gravid hunn hvalhai. Man vet ikke hvor baby hvalhaiene er.
				Små, levende hvalhaier er kun observert 3-4 ganger. Hvor hunnene føder ungene, og hvor ungene befinner seg, er et av
				mysteriene forskere forsøker å finne ut. Denne informasjonen vil være viktig for å etablere tiltak for å bevare bestanden.
			</p>

			<p>
				Mot slutten av reisen vår besøkte vi Donsol i Fillipinene som er en hotspot for hvalhai fra Desember til Juni hvert år. Her var vi ute på havet tre dager, og så 4-5 stk. hver av dagene. Sikten var ikke like god som i Mexico, men det var likevell en flott opplevelse.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-08-20">20. august 2014 (snorkling), Isla Mujeres, Mexico</time></li>
				<li><time datetime="2014-08-24">24. august 2014 (snorkling), Isla Mujeres, Mexico</time></li>
				<li><time datetime="2014-09-27">27. september 2014 (snorkling), Utila, Honduras</time></li>
				<li><time datetime="2014-10-17">17. oktober 2014, Shark Bay, Wolf Island, Galápagos, Ecuador</time></li>
				<li><time datetime="2015-04-26">26. april 2015 (snorkling), Donsol, Fillipinene</time></li>
				<li><time datetime="2015-04-27">27. april 2015 (snorkling), Donsol, Fillipinene</time></li>
				<li><time datetime="2015-04-28">28. april 2015 (snorkling), Donsol, Fillipinene</time></li>
			</ol>

			<figure>
				<a href="https://www.flickr.com/photos/hegerokenes/14802837190/in/set-72157647612927194">
					<img src="https://farm4.staticflickr.com/3873/14802837190_b8b357e317_b.jpg" alt="" />
				</a>
				<figcaption>Whale Shark som svømmer, Isla Mujeres, Mexico</figcaption>
			</figure>

		</section>

		<section id="blindshark">
			<h2>Blind Shark <i>(Brachaelurus waddi)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Blind Sharks</dt>
					<dt>Status</dt>
					<dd class="iunc-cat lc">Ikke truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>120cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>East Australia</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Blind_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 4, points: "-28.610930,153.629673"}) %>
			</aside>

			<p>
				Blind Shark er en liten hai som trives på stenete havbunn hvor den kan gjemme seg mellom stenene.
				Til tross for navnet er haien ikke blind. Navnet har den fått av fiskere på grunn av måten den
				trekker øynene inn og lukker de når den tas ut av vann. Da ser det ut som den ikke har øyne. Vi så en
				Blind Shark som gjemte seg mellom noen stener på Julian Rocks.
			</p>

			<p>
				Vi fikk desverre ikke noen gode bilder av Blind Sharken. Illustrasjonen nedenfor er fra boken
				Sharks of the World.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-12-8">8. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
			</ol>

			<figure class="page-width">
				<a href="https://www.flickr.com/photos/hegerokenes/15892238313/in/set-72157647612927194">
					<img src="https://farm9.staticflickr.com/8631/15892238313_41a2c69dce_c.jpg" alt="Illustrasjon Blind Shark (Sharks of the World)" />
				</a>
				<figcaption>Illustrasjon Blind Shark (Sharks of the World)</figcaption>
			</figure>

		</section>

		<section id="spottedwobbegong">
			<h2>Spotted Wobbegong Shark<i>(Orectolobus maculatus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Wobbegong</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>170cm (320cm ubekreftet)</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Australia</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Spotted_wobbegong">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 4, points: "-28.610930,153.629673"}) %>
			</aside>

			<p>
				Wobbegong Shark er litt snåle haier. De blir forholdsvis store og ligger rolig på bunnen uten å bry seg særlig om dykkere.
				Man kan komme svært nært haien. Den brukes som mat i Australia, og bestiller du fish and chips er det god sjanse for at det er Wobbegong du får servert.
				Vi så masse Wobbegong på alle våre dykk på Julian Rocks.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-12-6">6. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-7">7. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-8">8. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-8">8. desember 2008, Julian Rocks, Byron Bay, Australia (dykk 2)</time></li>
				<li><time datetime="2008-12-9">9. desember 2008, Julian Rocks, Byron Bay, Australia</time></li>
				<li><time datetime="2008-12-9">9. desember 2008, Julian Rocks, Byron Bay, Australia (dykk 2)</time></li>
			</ol>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/3133374562/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3196/3133374562_48b80132ca_z.jpg" alt="Fire Wobbegong Shark som har gjemt seg i en hule med reker som sitter i inngangen. De venter på blekkspruter som skal fange rekene, så fanger de blekkspruten." />
					</a>
					<figcaption>Fire Wobbegong Shark som har gjemt seg i en hule med reker som sitter i inngangen. De venter på blekkspruter som skal fange rekene, så fanger de blekksprutene.</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/3132525193/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3134/3132525193_c190547875_z.jpg" alt="Spottet Wobbegong Shark, Byron Bay, Australia" />
					</a>
					<figcaption>Spottet Wobbegong Shark, Byron Bay, Australia</figcaption>
				</figure>
			</div>

		</section>

		<section id="silvertipshark">
			<h2>Silvertip Shark <i>(Carcharhinus albimarginatus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>omtrent 300cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Tropical Indo-Pasific, wide ranging patchy distribution</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Silvertip_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 4, points: "-13.904280,146.628943"}) %>
			</aside>

			<p>
				Under haimatingen på Osprey Reef dukket tre store Silvertip Shark opp. Dykkeguidene fortalte
				at de store haiene med hvit finnetupp var Oceanic Whitetip Shark, noe vi har tatt for god fisk i flere år.
				Etter å ha studert bildene og lest litt mer om artene, ser vi at disse må ha vært Silvertip Shark.
				Begge artene hører til Requiem Shark familien, og er omtrent like store. Begge har tydelige hvite finnetupper.
				Det som skiller artene, er at Oceanic Whitetip har svært store brystfinner og ryggfinne som er avrundet.
				Silvertip har spissere finner som er en del mindre, som stemmer mer med de vi så.
			</p>

			<ol>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
			</ol>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721947789/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3198/2721947789_a815140429_z.jpg" alt="Spent dykker med Silvertip Shark i bakgrunnen, Osprey Reef, Australia" />
					</a>
					<figcaption>Spent dykker med Silvertip Shark i bakgrunnen, Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721927703/in/set-72157647612927194/">
						<img src="https://farm4.staticflickr.com/3019/2721927703_f63d0d756e_z.jpg" alt="Masse Grey Reef Shark som gjør seg klar til mating på Osprey Reef" />
					</a>
					<figcaption>Seks Grey Reef Shark under, en Silvertip Shark øverst, Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721942085/in/set-72157647612927194/">
						<img src="https://farm4.staticflickr.com/3232/2721942085_2fe036e0a4_z.jpg" alt="Silvertip Shark. De spisse finnene skiller den godt fra Oceanic Whitetip Shark. Osprey Reef, Australia" />
					</a>
					<figcaption>Silvertip Shark. De spisse finnene skiller den godt fra Oceanic Whitetip Shark. Osprey Reef, Australia</figcaption>
				</figure>
			</div>

		</section>

		<section id="greyreefshark">
			<h2>Grey Reef Shark <i>(Carcharhinus amblyrhynchos)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>sansynligvis 233-255cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-Pasific</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Grey_reef_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "-13.904280,146.628943|-23.867099,35.574331"}) %>
			</aside>

			<p>
				Vi hadde tre flotte dykk på Osprey Reef i Australia som en del av en liveaboard tur. Det andre
				dykket på Osprey Reef var et rent haidykk, hvor instruktørene matet haiene med frosne tunfisk hoder.
				Under matingen så vi Grey Reef Shark, Whitetip Reef Shark, Blacktip Reef Shark og Silvertip Shark.
				Arten det var klart flest av, var Grey Reef Shark. I Australia kaller de disse Grey Whaler, men det er snakk
				om samme hai. Vi så Grey Reef Shark på nytt i Mosambik.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2012-11-09">09. november 2012, The Office, Tofo, Mosambik</time></li>
			</ol>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721919237/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3195/2721919237_b44aaaaeaf_z.jpg" alt="Grey Reef Shark med Whitefin Sharksucker's (Echeneis neucratoides) på Osprey Reef, Australia" />
					</a>
					<figcaption>Grey Reef Shark med Whitefin Sharksucker's <i>(Echeneis neucratoides)</i> på Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2721884209/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3169/2721884209_4d29624541_z.jpg" alt="Masse Grey Reef Shark som gjør seg klar til mating på Osprey Reef" />
					</a>
					<figcaption>Masse Grey Reef Shark som gjør seg klar til mating på Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/8203228955/in/set-72157647612927194">
						<img src="https://farm9.staticflickr.com/8477/8203228955_387f22d7ae_z.jpg" alt="Kraftig Grey Reef Shark sett på The Office, Tofo, Mosambik" />
					</a>
					<figcaption>Kraftig Grey Reef Shark sett på The Office, Tofo, Mosambik</figcaption>
				</figure>
			</div>

		</section>

		<section id="whitetipreefshark">
			<h2>Whitetip Reef Shark <i>(Triaenodon obesus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>minst 160cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-Pasific</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Whitetip_reef_shark">Wikipedia</a></dd>
				</dl>
				<h3>Observasjoner på verdenskartet</h3>
				<%- partial("/partials/_map.ejs", {zoom: 1, points: "-13.904280,146.628943|-23.867099,35.574331|-0.964863,-90.806808|-4.747946,55.547905|-30.250000,30.816667|11.308333,124.191667"}) %>
			</aside>

			<p>
				Whitetip Reef Shark er den haien vi har sett flest ganger under dykking. Vi har sett den i Australia,
				Mosambik og Galapagos. Whitetip Reefshark er en mellomstor hai med slank kropp. På dagtid ligger
				den ofte å slapper av på bunnen. Om natten jakter den på korallrevene. Whitetip Reef Shark er en av få haiarter
				som jakter i flokk.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-03-15">15. mars 2008, Saxton Reef, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2008-07-26">26. juli 2008, Cod Hole, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2008-07-29">29. juli 2008, Saxton Reef, Great Barrier Reef, Australia</time></li>
				<li><time datetime="2012-11-09">09. november 2012, The Office, Tofo, Mosambik</time></li>
				<li><time datetime="2014-10-27">27. oktober 2014, Los Tunneles, Isla Isabela, Galapagos</time></li>
				<li><time datetime="2015-01-22">22. januar 2015, Regies, Tofo, Mosambik</time></li>
				<li><time datetime="2015-02-02">02. februar 2015, Aliwal Shoal, Sør-Afrika</time></li>
				<li><time datetime="2015-03-18">18. mars 2015, Mahe Island, Seyschellene</time></li>
				<li><time datetime="2015-05-03">03. mai 2015, Monad Shoal, Malapascua, Fillipinene</time></li>
			</ol>

			<div class="imagestrip col-3">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2365416559/in/set-72157647612927194">
						<img src="https://farm4.staticflickr.com/3064/2365416559_476c2a124a_z.jpg" alt="Whitetip Reef Shark, Saxton Reef" />
					</a>
					<figcaption>Whitetip Reef Shark, Saxton Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2722910246/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2275/2722910246_954d994a94_z.jpg" alt="Whitetip Reef Shark, Osprey Reef" />
					</a>
					<figcaption>Whitetip Reef Shark, Osprey Reef, Australia</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/15748823189/in/set-72157647612927194">
						<img src="https://farm8.staticflickr.com/7477/15748823189_06625e4775_z.jpg" alt="Whitetip Reef Shark, Los Tuneles" />
					</a>
					<figcaption>Whitetip Reef Shark, Los Tuneles, Galapagos</figcaption>
				</figure>
			</div>

		</section>

		<section id="zebrashark">
			<h2>Zebra Shark <i>(Stegostoma fasciatum)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Zebra Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat vu">Truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>235cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Indo-west Pasific</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Zebra_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 5, points: "8.652708,97.661848|7.741185,98.692589"}) %>
			</aside>

			<p>
				Zebra Shark var den første haien vi så under dykking.
				Dette er en forholdsvis vanlig hai i Thailand, hvor den også kalles Leopard Shark.
				Dette navnet er feil, da det finnes en annen art med dette navnet som lever på vestkysten av USA, og
				ser helt annerledes ut. Zebra Shark ligger ofte rolig på sandbunnen og slapper av.
				Når den svømmer er den svært elegant med den lange halen.
			</p>

			<p>
				Vi har desverre ikke noen gode bilder av Zebra Shark. Illustrasjonen nedenfor er fra boken
				Sharks of the World.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2008-01-18">18. januar 2008, Breakfast Bend, Similian Islands, Thailand</time></li>
				<li><time datetime="2008-01-23">23. januar 2008, Shark Point, Phi Phi Islands, Thailand</time></li>
			</ol>

			<figure class="page-width">
				<a href="https://www.flickr.com/photos/hegerokenes/16511324372/in/set-72157647612927194">
					<img src="https://farm8.staticflickr.com/7443/16511324372_aa7737ba42_c.jpg" alt="Illustrasjon Zebra Shark (Sharks of the World)" />
				</a>
				<figcaption>Illustrasjon Zebra Shark (Sharks of the World)</figcaption>
			</figure>

		</section>

		<section id="blacktipreefshark">
			<h2>Blacktip Reef Shark <i>(Carcharhinus melanopterus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Requiem Shark</dt>
					<dt>Status</dt>
					<dd class="iunc-cat nt">Nær truet</dd>
					<dt>Største registrerte lengde</dt>
					<dd>mindre enn 200cm</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>West Pasific, Indian Ocean and east Mediterranean</dd>
					<dt>Les mer</dt>
					<dd><a href="http://en.wikipedia.org/wiki/Blacktip_reef_shark">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 2, points: "7.741185,98.692589|-13.904280,146.628943|27.722892,34.291763"}) %>
			</aside>

			<p>
				Blacktip Reef Shark så vi flere ganger i Thailand under dykking og snorkling. Haien tilhører familien
				Requiem Shark. Utseende på Requiem Sharks er hva folk flest forbinder med hai. På Phi Phi er det mange
				operatører som tilbyr snorkleturer hvor man nesten garantert får sett haiene. Blacktip Reef Sharks
				jakter inne på korallrevene tidlig om morgenen. Vi fikk tips om en strand på Phi Phi, Hin Pae, hvor man kunne
				snorkle 50-60m ut  ut å se haiene. Her så vi 6-8 haier som svømte rundt på ca 1.5-2m dypt vann i jakt på en matbit
				en tidlig morgen. Senere har vi sett Black Tip Reef Sharks i Australia på Osprey Reef.
			</p>

			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2007-07-07">07. juli 2007, Ras Gheslani, Egypt</time></li>
				<li><time datetime="2008-01-22">22. januar 2008, Palong North, Phi Phi Islands, Thailand</time></li>
				<li><time datetime="2008-01-23">23. januar 2008 (snorkling), Hin Pae, Phi Phi Islands, Thailand</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 2)</time></li>
				<li><time datetime="2008-07-27">27. juli 2008, North Horn, Osprey Reef, Australia (dykk 3)</time></li>
				<li><time datetime="2011-11-19">19. november 2011 (snorkling), Phi Phi Islands, Thailand</time></li>
			</ol>

			<div class="imagestrip col-2">
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2212091252/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2157/2212091252_e84fe5911f_z.jpg" alt="Blacktip Reef Shark, Palong North" />
					</a>
					<figcaption>Blacktip Reef Shark, Palong North, Thailand</figcaption>
				</figure>
				<figure>
					<a href="https://www.flickr.com/photos/hegerokenes/2222701024/in/set-72157647612927194">
						<img src="https://farm3.staticflickr.com/2411/2222701024_34bbe7decb_z.jpg" alt="Blacktip Reef Shark, Hin Pae" />
					</a>
					<figcaption>Blacktip Reef Shark, Hin Pae, Thailand</figcaption>
				</figure>
			</div>

		</section>

		<hr class="last" />
	</div>

</article>
