<article>
	<header>
		<h1>Hval<span>ulike arter vi har sett</span></h1>
		<time>2008-2016</time>
		<img class="main-image" src="https://c2.staticflickr.com/4/3294/2721810615_8fd70c6aa1_o.jpg" alt="" />
	</header>

	<div class="post-content bg-subtle-grey hval">

		<p>
			Hval har alltid vært en stor facinasjon. Her er ei liste over de hvalene vi har sett - dog etter 2008. Disse har vi nødvendigvis ikke snorklet eller dykket med som er kriteriet for å få en ny art inn i hai-lista vår.
		</p>

		<p>
			En av de mest minnerike hval opplevelsene hadde vi på Great Barrier Reef hvor 4 dverg vågehvaler kom å tittet på oss rundt dykkebåten. De svømte nyskjerrig fram og tilbake og var på det nærmeste 2-3 meter fra oss.
		</p>

		<h3 id="in-page-menu">Arter vi har sett</h3>
		<ol class="in-page-menu" reversed="reversed">
			<li><a href="#shortfinnedpilotwhale">Short-finned pilot whale - Kortfinnegrindhval<i>(Globicephala macrorhynchus)</i></a></li>
			<li><a href="#atlanticwhitesideddolphin">Atlantic white-sided dolphin - Kvitskjeving <i>(Lagenorhynchus acutus)</i></a></li>
			<li><a href="#harbourporpoise">Harbour porpoise - Nise <i>(Phocoena phocoena)</i></a></li>
			<li><a href="#">Common dolphins? <i>()</i></a></li>
			<li><a href="#humpbackwhale">Humpback whale - Knølhval <i>(Megaptera novaeangliae)</i></a></li>
			<li><a href="#">Bottlenose dolphins? <i>()</i></a></li>
			<li><a href="#dwarfminkewhale">Dwarf Minke Whale - Dverg vågehval<i>(Balaenoptera acutorostrata)</i></a></li>
		</ol>

		<section id="shortfinnedpilotwhale">
			<h2>Short-finned pilot whale - Kortfinnegrindhval<i>(Globicephala macrorhynchus)</i><a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Delphinidae</dt>
					<dt>Status</dt>
					<dd class="iunc-cat dd">Manglende data</dd>
					<dt>Største registrerte lengde</dt>
					<dd>5.5 meter</dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd><a href="https://en.wikipedia.org/wiki/Short-finned_pilot_whale">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "28.016376, -16.790455"}) %>
			</aside>

			<p>
				
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-08-12">12. oktober 2015, sør for Tenerife, Spania</time></li>				
			</ol>

			<div class="imagestrip col-2">
				<%- partial("/partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
			</div>
		</section>

		<section id="harbourporpoise">
			<h2>Harbour porpoise - Nise<i>(Phocoena phocoena)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd class="iunc-cat"></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "63.325366, 10.115084"}) %>
			</aside>

			<p>
				Etter at Heges foreldre kjøpte seg hytte i Langfjorden i 2012 har vi sett niser hvert år. Vi har hatt flotte opplevelser med niser få meter fra båten, og kan sitte på stille sommerkvelder og høre blåsene fra dyrene som passerer flytebrygga. 

				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/9486021868/in/album-72157635018031967/", url: "https://c1.staticflickr.com/3/2851/9486021868_62285b509e_h.jpg", caption: "" }) %>
			</p>

			<h3>Nisebaby</h3>
			<p>
				Sommeren 2015 dykket vi mye i Langfjorden på landstedet til Heges foreldre. Under ett av dykkene, på vei mot land så vi noe som lyste mot oss. Det var på rundt 15 meter, og først trodde vi det var en fisk, men ved nærmere undersøkelse viste det seg å være en død nise baby.
			</p>

			<p>
				Vi tok den med på land for å undersøke den nærmere. Den veide rundt 5 kg og var 78cm lang. Etter litt research fant vi ut at dette var nesten 2kg under normal fødselsvekt for ei nise. Alle finnene var tydelig bøyd inn mot kroppen og skrukkete hud på den ene siden av kroppen vitnet om at den ganske nylig har ligget i bøy i mammas mage. På  magen så vi også tydelige rester etter navlestrengen.
			</p>

			<p>
				Det var lite tegn til at havet hadde begynt å fortære den lille kroppen, ingen mark eller merker etter fisk som har begynt å spise på den, så den var nok dødfødt kort tid i forveien.
				Livets harde realiteter gav oss en unik sjanse til å grundig studere dette flotte facinerende dyret.
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-07-21">21. juli 2015, Langfjorden, Alta</time></li>
				<li><time datetime="2013-07-28">28. juli 2013, Langfjorden, Alta</time></li>				
			</ol>

			<div class="imagestrip col-3">

				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/20210791610/in/album-72157656960059151/", url: "https://c1.staticflickr.com/1/468/20210791610_775b418735_z.jpg", caption: "Bøyd ryggfinne" }) %>

				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/20210877838/in/album-72157656960059151/", url: "https://c1.staticflickr.com/1/458/20210877838_60e8d0bc9d_z.jpg", caption: "Bøyd halefinne" }) %>

				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/20405032541/in/album-72157656960059151/", url: "https://c1.staticflickr.com/1/469/20405032541_7fb9199015_z.jpg", caption: "Rester av navlestrengen" }) %>
			</div>

			<h2>Flere bilder av nisebabyen</h2>

			<div class="page-width">
				<a data-flickr-embed="true"  href="https://www.flickr.com/photos/hegerokenes/albums/72157656960059151" title="Hvalborg 2015"><img src="https://farm1.staticflickr.com/340/20390380862_6c7991964d_z.jpg" width="640" height="427" alt="Hvalborg 2015"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</section>

		<section id="atlanticwhitesideddolphin">
			<h2>Atlantic white-sided dolphin - Kvitskjeving<i>(Lagenorhynchus acutus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd class="iunc-cat"></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "63.325366, 10.115084"}) %>
			</aside>

			<p>
				Jonas porsangerfjorden
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime=""></time></li>						
			</ol>

			<div class="imagestrip col-2">
				<%- partial("/partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
			</div>
		</section>

		<section id="">
			<h2>Bottlenose?<i>()</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd class="iunc-cat"></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "63.325366, 10.115084"}) %>
			</aside>

			<p>
				Delfiner Mosambik
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="">Simons town</time></li>				
				<li><time datetime="">Umkoomas</time></li>
				<li><time datetime="">Galapagos</time></li>	
				<li><time datetime="">Isla Mujeres</time></li>				
				<li><time datetime="">Mosambik</time></li>	
				<li><time datetime="">Melbourne</time></li>					
				<li><time datetime="">GBR</time></li>	
			</ol>

			<div class="imagestrip col-2">
				<%- partial("/partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
			</div>
		</section>

		<section id="humpbackwhale">
			<h2>Humpback whale<i>()</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd class="iunc-cat"></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "63.325366, 10.115084"}) %>
			</aside>

			<p>
				Humpbacks
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="">Mosambik</time></li>				
			</ol>

			<div class="imagestrip col-2">
				<%- partial("/partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
			</div>
		</section>

		<section id="dwarfminkewhale">
			<h2>Dwarf Minke Whale - Dverg vågehval<i>(Balaenoptera acutorostrata)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd class="iunc-cat"></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "63.325366, 10.115084"}) %>
			</aside>

			<p>
				I 2008 bodde vi i Melbourne, og når vinteren var på sitt kaldeste dro vi nordover til Cairns og varmen. Her hadde vi booket oss inn på vårt første livaboard. Taka som båten het skulle ta turen nordover langs Great Barrier Reef og helt opp til Osprey Reef som ligger i Coral Sea.
			</p>

			<p>
				Vi dro fra havn på ettermiddagen og hadde vårt første dykk morgenen etter. Etter endt dykk var det 4 Dvergvågehval og svømte rundt båten. Da var det bare å komme seg opp i båten og få montert fotoutsyret, og plumpe uti igjen med snorkelutstyr på.
			</p>

			<p>
				De fire hvalene var kjempenyskjerrige og holdt seg lenge rundt båten. Når vi kjørte til neste dykke site et stykke unna, fulgte de etter og vi så de igjen etter neste dykk.
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2013-07-26">26.juli 2013, Challenger Bay GBR, Australia</time></li>				
			</ol>

			<div class="imagestrip col-3">
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/2721798565/in/album-72157606483590112/", url: "https://c2.staticflickr.com/4/3251/2721798565_503d4a25da_b.jpg", caption: "" }) %>
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/2722620560/in/album-72157606483590112/", url: "https://c2.staticflickr.com/4/3009/2722620560_ce97444b2a_b.jpg", caption: "" }) %>
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/2721794443/in/album-72157606483590112/", url: "https://c2.staticflickr.com/4/3236/2721794443_2530592742_b.jpg", caption: "" }) %>
			</div>
		</section>

		

		<section id="">
			<h2><i>()</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd class="iunc-cat"></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "63.325366, 10.115084"}) %>
			</aside>

			<p>
				
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime=""></time></li>				
			</ol>

			<div class="imagestrip col-2">
				<%- partial("/partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
			</div>
		</section>
		
		

		<hr class="last" />
	</div>

</article>
