<article>
	<header>
		<h1>Hval<span>ulike arter vi har sett</span></h1>
		<time>2008-2016</time>
		<img class="main-image" src="https://c2.staticflickr.com/4/3294/2721810615_8fd70c6aa1_o.jpg" alt="" />
	</header>

	<div class="post-content bg-subtle-grey hval">

		<p>
			Hval har alltid vært en stor facinasjon. Her er ei liste over de hvalene vi har sett - dog etter 2008. Disse har vi nødvendigvis ikke snorklet eller dykket med som er kriteriet for å få en ny art inn i hai-lista vår.
		</p>

		<p>
			En av de mest minnerike hval opplevelsene hadde vi på Great Barrier Reef hvor 4 dverg vågehvaler kom å tittet på oss rundt dykkebåten. De svømte nyskjerrig fram og tilbake og var på det nærmeste 2-3 meter fra oss.
		</p>

		<h3 id="in-page-menu">Arter vi har sett</h3>
		<ol class="in-page-menu" reversed="reversed">
			<li><a href="#shortfinnedpilotwhale">Short-finned pilot whale - Kortfinnegrindhval <i>(Globicephala macrorhynchus)</i></a></li>
			<li><a href="#whitebeakeddolphin">White-beaked dolphin  - Kvitnos <i>(Lagenorhynchus albirostris)</i></a></li>
			<li><a href="#longbeakedcommondolphin">Long-beaked common dolphins <i>(Delphinus capensis)</i></a></li>
			<li><a href="#humpbackwhale">Humpback whale - Knølhval <i>(Megaptera novaeangliae)</i></a></li>
			<li><a href="#commonbottlenosedolphin">Common bottlenose dolphin - Vanlig delfin <i>(Tursiops truncatus)</i></a></li>
			<li><a href="#harbourporpoise">Harbour porpoise - Nise <i>(Phocoena phocoena)</i></a></li>
			<li><a href="#dwarfminkewhale">Dwarf Minke Whale - Dverg vågehval <i>(Balaenoptera acutorostrata)</i></a></li>
		</ol>

		<section id="shortfinnedpilotwhale">
			<h2>Short-finned pilot whale - Kortfinnegrindhval<i>(Globicephala macrorhynchus)</i><a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Delphinidae</dt>
					<dt>Status</dt>
					<dd class="iunc-cat dd">Manglende data</dd>
					<dt>Største registrerte lengde</dt>
					<dd>5.5 meter</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Mest vanlig i tropiske og subtropiske farvann</dd>
					<dt>Les mer</dt>
					<dd><a href="https://en.wikipedia.org/wiki/Short-finned_pilot_whale">Wikipedia</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "28.016376, -16.790455"}) %>
			</aside>

			<p>
				Vi dro på familieferie med hele Follesø-klanen på Tenerife, en av kanariøyene. En av de store attraksjonene der er å dra på hvalsafari for å se grindhval som holder til på sørenden av øya.
			</p>

			<p>
				Vi dro ut på sjøen med en staselig seilbåt, og etter kun 45 min så vi de første hvalene. Det var en gruppe som holdt seg forholdsvis i ro. De store handene lå i ro i overflaten mens de mindre beveget seg litt rundt. De var langt større enn vi hadde sett for oss. Flokken var på rundt 20 dyr, og vi fikk sett på de en times tid før vi vendte snuten mot fastlandet igjen.
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-08-12">12. oktober 2015, sør for Tenerife, Spania</time></li>				
			</ol>

			<div class="imagestrip col-2">
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/24711754305/in/album-72157663409184259/", url: "https://c2.staticflickr.com/2/1719/24711754305_ca9fc22313_z.jpg", caption: "Kortfinnegrindhval nært båten" }) %>
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/24711758875/in/album-72157663409184259/", url: "https://c2.staticflickr.com/2/1671/24711758875_4a2ec4368f_z.jpg", caption: "Kortfinnegrindhval-sightseeing" }) %>
			</div>
		</section>

		<section id="whitebeakeddolphin">
			<h2>White-beaked dolphin  - Kvitnos<i>(Lagenorhynchus albirostris)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Delphinidae</dt>
					<dt>Status</dt>
					<dd class="iunc-cat ls">Least concern</dd>
					<dt>Største registrerte lengde</dt>
					<dd>3,1 meter</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Nordatlantern</dd>
					<dt>Les mer</dt>
					<dd><a href="https://no.wikipedia.org/wiki/Kvitnos">Wiki</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "70.662620, 26.817421"}) %>
			</aside>

			<p>
				Kvitnos er en av delfinartene man har god sjanse å se i fjordene i Finnmark. Etter fantastisk fisketur i Laksefjorden
				ut langs Sværholdthalvøya fikk vi selskap av tre Kvitnos på vei hjem.
			</p>

			<div class="page-width">
				<blockquote class="instagram-media" data-instgrm-version="6" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAGFBMVEUiIiI9PT0eHh4gIB4hIBkcHBwcHBwcHBydr+JQAAAACHRSTlMABA4YHyQsM5jtaMwAAADfSURBVDjL7ZVBEgMhCAQBAf//42xcNbpAqakcM0ftUmFAAIBE81IqBJdS3lS6zs3bIpB9WED3YYXFPmHRfT8sgyrCP1x8uEUxLMzNWElFOYCV6mHWWwMzdPEKHlhLw7NWJqkHc4uIZphavDzA2JPzUDsBZziNae2S6owH8xPmX8G7zzgKEOPUoYHvGz1TBCxMkd3kwNVbU0gKHkx+iZILf77IofhrY1nYFnB/lQPb79drWOyJVa/DAvg9B/rLB4cC+Nqgdz/TvBbBnr6GBReqn/nRmDgaQEej7WhonozjF+Y2I/fZou/qAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/qgu9fqkA6h/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">En video publisert av Jonas Follesø (@follesoe)</a> <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2014-07-16T12:11:37+00:00">onsdag 16. Juli. 2014 PDT</time></p></div></blockquote>
				<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
			</div>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2014-07-16">16. juli 2014</time></li>
			</ol>
		</section>

		<section id="longbeakedcommondolphin">
			<h2>Long-beaked common dolpin<i>(Delphinus capensis)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Delphinidae</dt>
					<dt>Status</dt>
					<dd class="iunc-cat dd">Data Deficient</dd>
					<dt>Største registrerte lengde</dt>
					<dd>2.5 meter</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Alle tropiske og tempererte hav</dd>
					<dt>Les mer</dt>
					<dd><a href="https://en.wikipedia.org/wiki/Long-beaked_common_dolphin">Wiki</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "-34.602908, 18.489947"}) %>
			</aside>

			<p>
				På vei ut til dykking med bluesharks og mako, så vi en liten gruppe på 5 delfiner som fulgte båten langs siden. Det var røff sjø, så vanskelig å få noe bilde av de.
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-17">17. februar 2015, False Bay Sør-Afrika</time></li>	
			</ol>
		</section>

		<section id="harbourporpoise">
			<h2>Harbour porpoise - Nise<i>(Phocoena phocoena)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Phocoenidae</dt>
					<dt>Status</dt>
					<dd class="iunc-cat ls">Least concern</dd>
					<dt>Største registrerte lengde</dt>
					<dd>1,7 meter</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Kystnære strøk på den nordlige halvkule</dd>
					<dt>Les mer</dt>
					<dd><a href="https://no.wikipedia.org/wiki/Nise">Wiki</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "70.082866, 22.684747"}) %>
			</aside>

			<p>
				Etter at Heges foreldre kjøpte seg hytte i Langfjorden i 2012 har vi sett niser hvert år. Vi har hatt flotte opplevelser med niser få meter fra båten, og kan sitte på stille sommerkvelder og høre blåsene fra dyrene som passerer flytebrygga. 

				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/9486021868/in/album-72157635018031967/", url: "https://c1.staticflickr.com/3/2851/9486021868_62285b509e_h.jpg", caption: "" }) %>
			</p>

			<h3>Nisebaby</h3>
			<p>
				Sommeren 2015 dykket vi mye i Langfjorden på landstedet til Heges foreldre. Under ett av dykkene, på vei mot land så vi noe som lyste mot oss. Det var på rundt 15 meter, og først trodde vi det var en fisk, men ved nærmere undersøkelse viste det seg å være en død nise baby.
			</p>

			<p>
				Vi tok den med på land for å undersøke den nærmere. Den veide rundt 5 kg og var 78cm lang. Etter litt research fant vi ut at dette var nesten 2kg under normal fødselsvekt for ei nise. Alle finnene var tydelig bøyd inn mot kroppen og skrukkete hud på den ene siden av kroppen vitnet om at den ganske nylig har ligget i bøy i mammas mage. På  magen så vi også tydelige rester etter navlestrengen.
			</p>

			<p>
				Det var lite tegn til at havet hadde begynt å fortære den lille kroppen, ingen mark eller merker etter fisk som har begynt å spise på den, så den var nok dødfødt kort tid i forveien.
				Livets harde realiteter gav oss en unik sjanse til å grundig studere dette flotte facinerende dyret.
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-07-21">21. juli 2015, Langfjorden, Alta</time></li>
				<li><time datetime="2013-07-28">28. juli 2013, Langfjorden, Alta</time></li>				
			</ol>

			<div class="imagestrip col-3">

				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/20210791610/in/album-72157656960059151/", url: "https://c1.staticflickr.com/1/468/20210791610_775b418735_z.jpg", caption: "Bøyd ryggfinne" }) %>

				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/20210877838/in/album-72157656960059151/", url: "https://c1.staticflickr.com/1/458/20210877838_60e8d0bc9d_z.jpg", caption: "Bøyd halefinne" }) %>

				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/20405032541/in/album-72157656960059151/", url: "https://c1.staticflickr.com/1/469/20405032541_7fb9199015_z.jpg", caption: "Rester av navlestrengen" }) %>
			</div>

			<h3>Flere bilder av nisebabyen</h3>

			<div class="page-width">
				<a data-flickr-embed="true"  href="https://www.flickr.com/photos/hegerokenes/albums/72157656960059151" title="Hvalborg 2015"><img src="https://farm1.staticflickr.com/340/20390380862_6c7991964d_z.jpg" width="640" height="427" alt="Hvalborg 2015"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</section>

		<section id="commonbottlenosedolphin">
			<h2>Common bottlenose dolphin - Vanlig delfin<i>(Tursiops truncatus)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Delphinidae</dt>
					<dt>Status</dt>
					<dd class="iunc-cat ls">Least concern</dd>
					<dt>Største registrerte lengde</dt>
					<dd>3.8 meter</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Over hele verden i tropiske og tempererte hav</dd>
					<dt>Les mer</dt>
					<dd><a href="https://en.wikipedia.org/wiki/Bottlenose_dolphin">Wiki</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 1, points: "-23.838175, 35.570522|-38.173513, 144.872464|21.426621, -86.733179|-30.250297, 30.815293|0.274579, -91.622760|-16.424726, 145.853032"}) %>
			</aside>

			<p>
				De "vanlige" grå delfinene finnes i store deler av verden, og vi ser de også ofte. Oftest på vei til et dykkested. Kun to steder har vi sett de i vannet, og det var på Galàpagos og på Umkoomas i Sør-Afrika.
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2015-02-02">2. februar 2015, Umkoomas Sør-Afrika</time></li>			
				<li><time datetime="2015-10-15">15. oktober 2015, Roca Rodonda Galàpagos</time></li>
				<li><time datetime="2014-08-25">25. august 2015, Isla Mujeres Mexico</time></li>								
				<li><time datetime="2012-11-09">9. november 2012, Tofo Mosambik</time></li>
				<li><time datetime="2012-11-08">8. november 2012, Tofo Mosambik</time></li>
				<li><time datetime="2012-11-07">7. november 2012, Tofo Mosambik</time></li>
				<li><time datetime="2012-11-06">6. november 2012, Tofo Mosambik</time></li>
				<li><time datetime="2008-07-28">28 .juli 2008, Great Barrier Reef Australia</time></li>
			</ol>

			<div class="imagestrip col-3">
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/15064156644/in/album-72157646721107633/", url: "https://c2.staticflickr.com/6/5607/15064156644_b5926547af_z.jpg", caption: "Fra båten" }) %>
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/15499027279/in/album-72157646721107633/", url: "https://c2.staticflickr.com/6/5609/15499027279_184cde1623_z.jpg", caption: "Luftig svev" }) %>
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/15686564402/in/album-72157646721107633/", url: "https://c2.staticflickr.com/8/7478/15686564402_2bd6595a6c_z.jpg", caption: "Snorkling med delfinen" }) %>
			</div>
		</section>

		<section id="humpbackwhale">
			<h2>Humpback whale - Knølhval<i>(Megaptera novaeangliae)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Balaenopteridae</dt>
					<dt>Status</dt>
					<dd class="iunc-cat ls">Least concern</dd>
					<dt>Største registrerte lengde</dt>
					<dd>16 meter</dd>
					<dt>Geografisk distribusjon</dt>
					<dd>Over hele verden bortsett fra middelhavet og rødehavet</dd>
					<dt>Les mer</dt>
					<dd><a href="https://no.wikipedia.org/wiki/Kn%C3%B8lhval">Wiki</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "-23.838175, 35.570522"}) %>
			</aside>

			<p>
				Vi så våre første knølhval på vei fra en dykkesite til en annen. Det var en mor med en kalv. Kalven hoppet og spratt flere ganger ut av vannet. Vi var ca 30 meter fra de.
			</p>

			<p>
				Senere så vi en stor hann som hoppet i horisonten. Og fra land så vi flere ganger både blås og hopp.
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2012-11-06">6. november 2012, Tofo Mosambik</time></li>		
				<li><time datetime="2012-11-05">5. november 2012, Tofo Mosambik</time></li>
			</ol>
		</section>

		<section id="dwarfminkewhale">
			<h2>Dwarf Minke Whale - Dverg vågehval<i>(Balaenoptera acutorostrata)</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd>Balaenopteridae</dt>
					<dt>Status</dt>
					<dd class="iunc-cat ls">Least concerne</dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd><a href="https://no.wikipedia.org/wiki/V%C3%A5gehval">Wiki</a></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "-13.523724, 144.366957"}) %>
			</aside>

			<p>
				I 2008 bodde vi i Melbourne, og når vinteren var på sitt kaldeste dro vi nordover til Cairns og varmen. Her hadde vi booket oss inn på vårt første livaboard. Taka som båten het skulle ta turen nordover langs Great Barrier Reef og helt opp til Osprey Reef som ligger i Coral Sea.
			</p>

			<p>
				Vi dro fra havn på ettermiddagen og hadde vårt første dykk morgenen etter. Etter endt dykk var det 4 Dvergvågehval og svømte rundt båten. Da var det bare å komme seg opp i båten og få montert fotoutsyret, og plumpe uti igjen med snorkelutstyr på.
			</p>

			<p>
				De fire hvalene var kjempenyskjerrige og holdt seg lenge rundt båten. Når vi kjørte til neste dykke site et stykke unna, fulgte de etter og vi så de igjen etter neste dykk.
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime="2013-07-26">26.juli 2013, Challenger Bay GBR, Australia</time></li>				
			</ol>

			<div class="imagestrip col-3">
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/2721798565/in/album-72157606483590112/", url: "https://c2.staticflickr.com/4/3251/2721798565_503d4a25da_b.jpg", caption: "" }) %>
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/2722620560/in/album-72157606483590112/", url: "https://c2.staticflickr.com/4/3009/2722620560_ce97444b2a_b.jpg", caption: "" }) %>
				<%- partial("/partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/2721794443/in/album-72157606483590112/", url: "https://c2.staticflickr.com/4/3236/2721794443_2530592742_b.jpg", caption: "" }) %>
			</div>
		</section>

		<!--

		<section id="">
			<h2><i>()</i> <a href=#in-page-menu>Topp ↑</a></h2>

			<aside>
				<h3>Fakta</h3>
				<dl>
					<dt>Familie</dt>
					<dd></dt>
					<dt>Status</dt>
					<dd class="iunc-cat"></dd>
					<dt>Største registrerte lengde</dt>
					<dd></dd>
					<dt>Geografisk distribusjon</dt>
					<dd></dd>
					<dt>Les mer</dt>
					<dd></dd>
				</dl>
				<%- partial("/partials/_map.ejs", {zoom: 6, points: "63.325366, 10.115084"}) %>
			</aside>

			<p>
				
			</p>
	
			<h3>Observasjoner</h3>
			<ol>
				<li><time datetime=""></time></li>				
			</ol>

			<div class="imagestrip col-2">
				<%- partial("/partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
			</div>
		</section>

		-->
		
		

		<hr class="last" />
	</div>

</article>
