<article>
    <header>
        <h1>
            Dag 249
            <span></span>
        </h1>
        <time datetime="2015-04-25">25. april 2015 . Melbourne &amp; Sydney, Australia</time>
        <img class="main-image" src="../img/default_image.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">
    	<p>
    		Høsten hadde inntatt Melbourne, og det var for oss iskaldt. Hege måtte ut på bukseshopping, da jeansene som ble kjøpt i New York ble sendt hjem derfra. Å komme tilbake til Melbourne var veldig fint. Gianni, vår italiensk australske venn, hentet oss på flyplassen og det var et gledelig gjensyn.
    	</p>

		<h2>House of cards</h2>
		<p>
			Vi hadde ikke lagt noen spesielle planer for Melbourne annet enn et par plasser vi ville dra tilbake til. Jonas fikk etter et par dager ganske høy feber og ble sengeliggende. Det ble starten på et House of Cards maraton. Ekstremt avslappende å få ligge på en sofa å se tv-serier hjemme hos Gianni og Grace.
		</p>
		<h2>Trening</h2>
		<p>
			Når han endelig kom seg på beina var det å hive seg i trening. Etter første økta kom selvfølgelig et tilbakefall og feberen gikk opp igjen. Da var det bare å vente et par dager til. Løpingen foregikk for det meste i nabolaget. Det var en rugbybane like ved som gikk an å springe runder på. Vi besøkte også to forskjellige “leisure” centre som det heter, som har styrkesal og basseng.
		</p>
		<p>
			Vi dro en tur til bydelen hvor vi bodde i 2008 og så hvordan den hadde endret seg. Gianni jobber like ved så vi fikk en omvisning på Swinburn University av Gianni som har fullført sin doktorgrad siden sist. Det var et fint gjensyn med Glenferrie, som ikke hadde endret seg så voldsomt siden sist. Noen nye butikker og kafeer, ingen av stamplassene var heldigvis borte. 
		</p>
		
		<h2>Spasertur</h2>
		<p>
			En dag dro vi til et sted hvor man kan gå det de kaller “1000 steps” som skal være en miniatyr av Kokoda strekket i Papa New Guinea hvor andre verdenskrig ble utkjempet mellom Japanske og Australske militærstyrker i 1942. Langs den nye stien er det satt opp minnesmerker og informasjonsplaketter om hva som skjedde på de ulike stedene av stien. Det er som stien heter, 1000 trappetrinn opp til toppen.
		</p>
		<p>
			Dagen før vi skulle reise videre hadde vi intivtert med Gianni og Grace på middag og show på Melbourne Comedy festival. Middagen spiste vi på Teatro før vi gikk og så Dr. Professor Neal Portenza hvor Gianni måtte opp på scenen og være esel…! Det var mildt sagt latterfult.
		</p>
		<h2>Sydney i full storm</h2>
		<p>
			Vi ankom Sydney og hadde booket et rom via Airbnb hos et par som bodde på Greensquare 8 min med toget fra Sydney downtown. Første dagen ble vi møtt med strålende vær, og regnet automatisk med at slik kom det til å bli resten av oppholdet. Man blir fort vant med å ikke sjekke værmeldinger når man har vært i land nære ekvator.
		</p>

		<p>
			Vi fikk svømt en del de første dagene da bokomplekset vi bodde i hadde eget 25m basseng. Vi var skikkelige turister og spaserte til Operahuset, Sydney Harbour bridge, Darling harbour og China town. 
		</p>
		<p>
			Vi ble invitert på middag til Adrian og Lisa som vi ble kjent med på Inka Trailen. De bodde på Manly som er en halvøy tvers over fra Operahuset. Vi tok fergen ut dit og fikk møte de to supersøte kattene deres Archie og Sonny, og ble servert grillmat fra grillkongen selv.
		</p>
		<p>
			De siste dagene tilbrakte vi hos Adam, en bekjent fra Microsoft miljøet i Sydney. Vi fikk prøvekjørt Teslaen til Adam som han var veldig stolt av. Den er for øvrig den 10. Teslaen i Australia. Minstedatteren Ruby hadde et skole fotoprosjekt, så Hege hjalp henne med ideer, bildetaking og redigeringen.
		</p>
	    <div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	    </div>

	    <div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	    </div>

	    <div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	    </div>

		<p>

		</p>
		<hr class="last" />
	</div>
</article>