<article>
    <header>
        <h1>
            Dag 256
            <span>Hvalhaiens rike</span>
        </h1>
        <time datetime="2015-05-05">01. mai 2015 . Donsol, Fillipinene</time>
        <img class="main-image" src="https://farm8.staticflickr.com/7714/17902701292_03ef20edee_k.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

		<p>
    		Det siste landet på turen ble Fillipinene. Vi hadde egentlig ikke tenkt å besøke Asia i denne runden, men vi klarte ikke å dy oss da vi hørte om Thresher haiene man kan se her. Og det var jo på en måte litt "på veien hjemover" fra Australia.
		</p>

		<p>
			Første stopp i Fillipinene ble Donsol. Det er flere plasser man kan se hvalhai i Fillipinene om man er heldig, men det er spesielt to plasser hvor man nesten garantert kan se de i riktig sesong. Den ene plassen er Oslob som ligger på øya Cebu. Det som er ufordelaktig med å besøke Oslob er at man ikke får sett hvalhaienes oppførsel helt uforstyrret, de blir nemlig matet av fiskerne. I Donsol kommer hvalhaiene selv for å beite på plankton og krill hvert eneste år i sesongen desember-mai.
		</p>

	    <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17902275952/in/album-72157650833806614/", url: "https://farm9.staticflickr.com/8800/17902275952_6577bb774f_h.jpg", caption: "Chilling på solsenga" }) %>

		<p>
			I Donsol bodde vi på en resort litt utenfor byen, men rett ved siden av turistsenteret hvor hvalhaiturene går fra. Vi var oppe tre dager i strekk for å snorkle med disse fantastiske haiene. Det var på slutten av sesongen så det var ikke like mange haier som det pleier, og det ble derfor litt mange båter på de få haiene som var. Heldigvis har vi fått trent en del svømming og var langt bedre utstyrt enn de aller fleste. Så når man ble sluppet av foran haien, og den passerte under alle klarte vi å holde følge med den et godt stykke dersom den ikke gikk ned i dypet. Sikten kunne vært bedre, den var bare 6-7 meter noe som gjorde at man måtte ganske nære for å få sett haiene.
		</p>

		<div class="imagestrip col-2">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17905303695/in/album-72157650833806614/", url: "https://farm6.staticflickr.com/5450/17905303695_b6e6267c63_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17282729154/in/album-72157650833806614/", url: "https://farm6.staticflickr.com/5327/17282729154_42aa49e9fa_z.jpg", caption: "" }) %>
	    </div>

	    <%- partial("../partials/_vimeo.ejs", {id: "126479888"}) %>
		
		<h2>Manta Bowl</h2>
		<p>
			Det lå også tre dykkesenter like ved hvalhai aktiviteten. De tlibydde dykking med siten “Manta Bowl” som sin stolthet. Vi ble med på en dagstur med tre dykk. Manta Bowl ligger en times båttur fra Donsol. Vi startet dagen med et grunt checkup dive i Nudie gardens som var en meget spennende opplevelse. Det er den største tettheten vi noen gang har sett av ulike ormer, slugs og nudiebrancs. I tillegg fikk vi sett pipefish og sjøhest.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17878960646/in/album-72157650833806614/", url: "https://farm8.staticflickr.com/7732/17878960646_d75a16f8b5_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17284893033/in/album-72157650833806614/", url: "https://farm6.staticflickr.com/5443/17284893033_26a0a7f9d2_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17878956606/in/album-72157650833806614/", url: "https://farm8.staticflickr.com/7787/17878956606_b38ee720c6_z.jpg", caption: "" }) %>
	    </div>

		<p>
			Manta Bowl er en såkalt “hit or miss” eller “zero or hero” dykke site. Enten er man dødsheldige og får mantas, eller er man ikke og da er det ikke så mye annet å se på. Det er også ganske kraftig strøm så man bruker revkroker til å holde seg fast om man må stoppe. Vi var heldige på det første dykket. Da hadde vi en manta som viste seg. Dessverre så vi den kun kjapt før den snudde på helen og forsvant. Dette var vår første dykkeopplevelse med fra en Fillipinsk Bangka-båt.
		</p>

		<h2>Stort på dagen, smått på kvelden</h2>

		<p>
			Donsol er et pittelite sted uten mye annet å gjøre enn å se hvalhaiene. Da turistsentert ble etablert jobbet de med å finne andre aktiviteter de kunne tilby turistene. Fiskerne i elva fortalte at oppover elva fantes det hver eneste kveld store ansamlinger av ildfluer. Slik fikk Donsol sin andre attraksjon.
		</p>

		<p>
			Vi ble plassert i en liten elvebåt og kjørt oppover elva ved solnedgang. Guiden fortalte om alt som foregikk i og ved elva med fangst og fiske, og ikke minst hvordan elva ble brukt som transportåre for landsbyer lengre inn i landet.
		</p>

		<p>
			Sola gikk omsider ned og ildfluene ble aktive. De samler seg i store flokker i hver sitt tre. De bruker lyset både for å tiltrekke seg en partner, men også for å beskytte seg mot rovdyrene. Det var en veldig fin opplevelse å sitte der i bekmørket med kun stjerneskinn og ildfluelys.
		</p>

	    <div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17905317575/in/album-72157650833806614/", url: "https://farm6.staticflickr.com/5457/17905317575_a5a0d8dd6b_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17905314085/in/album-72157650833806614/", url: "https://farm8.staticflickr.com/7721/17905314085_0730046fe5_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17284867813/in/album-72157650833806614/", url: "https://farm8.staticflickr.com/7786/17284867813_546b0067f6_z.jpg", caption: "" }) %>
	    </div>

		<hr class="last" />
	</div>
</article>