<article>
    <header>
        <h1>
            Dag 229
            <span>Påske på Australsk vis</span>
        </h1>
        <time datetime="2015-04-04">04. april 2015 . Perth, Australia</time>
        <img class="main-image" src="https://farm9.staticflickr.com/8763/16967807580_60856eeaf3_k.jpg" alt="" />
        <!-- https://farm9.staticflickr.com/8763/16967807580_f4b411c42b_m.jpg -->
    </header>

    <div class="post-content bg-subtle-grey">

		<p>
			I 2008 bodde vi et år i Melbourne, Australia. Så vi ville legge turen innom landet for å besøke venner og kjente og gjøre noen ting vi ikke fikk gjort mens vi var der. En by vi kun besøkte et par dager var Perth, så hit ville vi tilbake til. Perth er også kjent for noen bra dykkespotter.
		</p>
		<p>
			Vi hadde litt utfordring med Visum da vi hadde glemt litt at man måtte fikse det på forhånd. Så Hege måtte bli en ekstra dag i De forente Arabiske Emirater før også hun fikk  sitt visum godkjent.
		</p>
		<p>
			De første dagene ble tilbragt primært i byen. Vi vaset litt rundt og så på bygg, gatekunst og besøkte Kings garden som ligger flott til med utsikt til byens skyline.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16534944833/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7657/16534944833_c6fcff5215_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17154479751/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8749/17154479751_b0e44f7b9b_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16947714757/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7654/16947714757_06cfd99b5a_z.jpg", caption: "" }) %>
	    </div>

		<p>
			Vi leide landeiveissykler og syklet ut til Freemantle som er en av de mest kjente fiskelandsbyene utenfor Perth. Turen var på 30km hver vei, noe som kjentes godt i både skuldre, rygg og bakende etter langt fravær fra sykkelsetet. Det var for øvrig også Hege sin første tur på landeveissykkel. I Freemantle besøkte vi det velkjente markedet og spiste lunsj der før vi rullet tilbake mot Perth.
		</p>
		
		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17129160296/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7641/17129160296_fa3c21ee31_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16534966463/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8687/16534966463_988a61f412_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16532706534/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7663/16532706534_630eab185c_z.jpg", caption: "" }) %>
	    </div>
		
		<p>
			Jonas har som en del av svømmetreningen til triatlon brukt et treningsprogram fra et selskap som heter Swim Smooth. De er fra Perth, og han benyttet selvsagt sjansen til å få en privat time med analyse av svømmeteknikken sin. Det var et fascinerende opplegg. Han svømte noen lengder men treneren, Sally, gikk ved siden av han på bassengkanten og filmet han fra ulike vinkler. Deretter tittet de på det sammen på en laptop og hun viste og forklarte forbedringer ved teknikken hans. Etterpå var det ut i bassenget igjen og Jonas fikk på seg et headset slik at Sally kunne snakke til han mens han svømte og gi korreksjoner.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17155156795/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8748/17155156795_e9d2550144_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17129211746/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8769/17129211746_67e717894c_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16967401528/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8790/16967401528_6a59f9196e_z.jpg", caption: "" }) %>
	    </div>

		<p>
			Under vårt fridykkekurs i Honduras møtte vi et britisk par som hadde flyttet til Australia. De bodde i Perth og vi fikk komme å bo hos de. Melissa og Alex er to veldig hyggelige gjestfrie typer som tok oss vel i mot. Jonas fikk grundig innføring i cricket da det var storkamp søndagen vi bodde hos de.
		</p>

		<div class="imagestrip col-2">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17155178215/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7645/17155178215_ea522ee879_z.jpg", caption: "Utekino" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17153639722/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8767/17153639722_fa46d6ac9f_z.jpg", caption: "Middag med Alex og Melissa" }) %>
	    </div>

		<h2>Rottnest</h2>
		<p>
			En ting vi ikke rakk å gjøre i Perth da vi var her sammen med Linda og Sveinung i 2008 var å besøke Rottnest øya. Det er en liten øy som ligger en times fergetur unna Perth. Øya er velkjent for nydelig natur både til land og vanns, samt en populasjon av det lille pungdyret Quoakka. Vi leide sykler og svømmeføtter, og tøffet rundt på øya. Vi fikk snorklet en tur og holdt ut i ca 40 minutter før vi feiget ut og måtte opp. Uheldigvis var ikke været på sitt beste, overskyet og en del vind. Så skal det jo sies at vi har blitt godt vant til varmt vær.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17153588032/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8763/17153588032_d92f512f3d_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17155232335/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8725/17155232335_210316d7ed_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17153636172/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8748/17153636172_5a83df2dfd_z.jpg", caption: "" }) %>
	    </div>
	    
	    <div class="imagestrip col-2">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16967437698/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8783/16967437698_e38320f860_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16969048619/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7629/16969048619_a57f64ded3_z.jpg", caption: "" }) %>
	    </div>

		<h2>Campingtur</h2>
		
		<%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17153718472/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8689/17153718472_d221611353_k.jpg", caption: "" }) %>
		<p>
			Påskeferien ble tilbragt i en leiebil fra Britz. Nærmere bestemt en Toyota 4x4 Trooper med en saftig V8 Dieselmotor og to 90 liters drivstofftanker. Den kunne åpnet og brettes ut i alle retninger og var et lite hus på hjul. Vi hadde i utgangspunktet ikke planlagt å ha en 4x4 camper, men vi var litt sein med bookingen så det var det som var igjen.
		</p>

		<h3>Dykking på Busselton Jetty</h3>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17154737521/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7679/17154737521_5cd166ddf0_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16535108463/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8695/16535108463_bef5789345_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16967731150/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8807/16967731150_b31a3e9aa5_z.jpg", caption: "" }) %>
	    </div>
	    
		<p>
			På veien sørover fra Perth ligger Busselton. Busselton er kjent for sin 1.8 km lange brygge som er bygget rett ut i havet. På enden av bryggen er det også lagt til rette med et observatorium slik at folk kan gå “ned” i havet og se på livet uten å bli våt. Vi leide oss dykkerutstyr og plumpet ut i vannet på enden av brygga. Vannet var overraskende klart, og dyrelyvet under den såkalte Jettyen var rikt. Vi så flere blekksprut, cuttlefish, porcupinefish med mer. Vi så også noen rester etter fisket som også foregår fra brygga, blant annet noen små haifinner og en død skate.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16532864874/in/album-72157651969348461/", url: "https://farm9.staticflickr.com/8689/16532864874_109ae7e492_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16532869524/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7726/16532869524_e91c9bed10_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16947919287/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7621/16947919287_ba10eff7b1_z.jpg", caption: "" }) %>
	    </div>

		<p>
			Videre kjørte vi til noen av nasjonalparkene i området hvor vi hver kveld brettet ut bilen, laget middag og overnattet. Siden vi nå hadde endt opp med et beist av en bil, bestemte vi oss for at vi måtte bruke den til det den var konstruert for. Vi fant noen spennende stier på kartet og satte i vei. Noen området var ekstremt smale, humpete og hadde aldri gått med en vanlig bil. Artig å få testet grensene litt. En dag kjørte vi også ned på Hermelin stranden. Dette var tydeligvis veldig populært blant Australere, da det var 10-15 andre som campet og fisket nede på stranden.
		</p>

		<%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16967801660/in/album-72157651969348461/", url: "https://farm8.staticflickr.com/7615/16967801660_adf0ec85ae_k.jpg", caption: "" }) %>

		<%- partial("../partials/_vimeo.ejs", {id: "124108684"}) %>
		
		<hr class="last" />
	</div>
</article>