<article>
    <header>
        <h1>
            Dag 214
            <span>Et ekte tropisk paradis</span>
        </h1>
        <time datetime="2015-03-20">20. mars 2015 . Mahe, Seyschellene &amp; Abu Dhabi, De forente arabiske emirater</time>
        <img class="main-image" src="https://farm9.staticflickr.com/8767/17143392805_aa46c75b49_b.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

		<p>
			Etter Tanzania var planen å komme oss videre til Australia. Dit er det jo et stykke, så en plass måtte vi mellomlande. Det viste seg at den billigste løsningen ble via Seyschellene og Abu Dhabi. Så vi bestemte oss for å legge inn henholdsvis fem og tre dager på de stedene.
		</p>

		<p>
			Seyshcellene ligger øst for Kenya ca 1500 kilometer fra fastlandet, og regnes som en del av Afrika. Her snakker de både engelsk, fransk og fransk-kreolsk.
		</p>

		<p>
			Vi hadde ikke rukket å gjøre så mye forberedelser før vi kom til Seyschellene så vi visste ikke helt hva vi skulle forvente. Vi hadde booket oss inn på en lodge, og bestemte oss for å ha leiebil for å komme oss rundt på øya og se hva den hadde å tilby.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17142756461/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8761/17142756461_0ce6ee5314_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16955838980/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8687/16955838980_d745db8536_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17142765011/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8744/17142765011_f12721d7a4_z.jpg", caption: "" }) %>
	    </div>

		<p>
			Å kjøre rundt hovedøya Mahe tar kun litt over to timer. Det er smale svingete veier som går i berg og dalbane over de ulike fjellene. Vi fikk noen fantastiske utkikkspunkter, sett landskilpadder og snorklet i den marine nasjonalparken på nord vestsiden av øya.
		</p>

		<h2>Fantastiske snorkleopplevelser</h2>
		<p>
			Å kunne spasere fra den nydeligste stranden ned til det mest blågrønne vannet du noen gang har sett snorkle og se eagleray kun få meter fra strandsonen i 30 graders vannet er noe av det mest magiske vi har opplevd. Vi fant et fint område med perfekt dybde for å fridykke litt. Dog hadde vi ikke bly eller svømmeføtter, så det ble en prøvelse å komme seg ned.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16955593578/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8700/16955593578_399268d3aa_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17141830872/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8725/17141830872_7bc740a04c_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16955869280/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8758/16955869280_efba857f70_z.jpg", caption: "" }) %>
	    </div>
	    <div class="imagestrip col-2">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16523193253/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8755/16523193253_23a466cd3b_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17143350515/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8816/17143350515_b95a0d9580_z.jpg", caption: "" }) %>
	    </div>

		<h2>Dykketur</h2>
		<p>
			Vi hadde hørt fra flere hold at dykkingen på Seyschellene var bra, dog at den beste var på en av de andre mindre øyene, men vi tenkte vi måtte gi Mahe en sjansje. Vi booket oss inn på en tur, ble en gruppe på kun tre personer pluss guide som dro ut. Vi fikk sett hvittiphai, to enorme stingrayer, blekksprut, en liten fisk med horn som Hege har hatt lyst til å se, og annet fint mindre liv på korallrevet. Vi konkluderte med at snorklingen var vel så bra, og ikke minst gratis - så det ble kun med den ene turen.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17141768102/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8726/17141768102_1c41bcb0e4_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16935936247/in/set-72157651947175271", url: "https://farm9.staticflickr.com/8772/16935936247_85f2c0e573_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16955780970/in/set-72157651947175271", url: "https://farm8.staticflickr.com/7634/16955780970_0e54c4ff1f_z.jpg", caption: "" }) %>
	    </div>

      	<%- partial("../partials/_vimeo.ejs", {id: "122780665"}) %>

		<h2>De Forente Arabiske Emirater</h2>

		<p>
			Det andre bonusstoppet vi fikk var Abu Dhabi. Abu Dhabi har sett på "storebroren" Dubai, og utviklet seg enormt de siste årene. De har bygget en enorm Ferrari fornøyelsespark, flere gigant shoppingkomplekser og den største vannparken i Midt-Østen.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17142896651/in/set-72157651516463627", url: "https://farm8.staticflickr.com/7623/17142896651_492834cf95_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17142901601/in/set-72157651516463627", url: "https://farm8.staticflickr.com/7669/17142901601_63dd37c9e1_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16957351209/in/set-72157651516463627", url: "https://farm9.staticflickr.com/8799/16957351209_ba11dfe149_z.jpg", caption: "" }) %>
	    </div>

		<p>
			Det ble noen ganske rolige dager på oss her. Vi vandret litt i byen og tittet på de enorme bygningene, tok oss en tur i vannparken og til en av verdens største moskeer.
		</p>

		<div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16521157914/in/set-72157651516463627", url: "https://farm8.staticflickr.com/7629/16521157914_c6dbd76ec1_z.jpg", 
	        	caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17143553895/in/set-72157651516463627", url: "https://farm9.staticflickr.com/8796/17143553895_eb11bfba71_z.jpg", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16956070250/in/set-72157651516463627", url: "https://farm8.staticflickr.com/7594/16956070250_8bceebd369_z.jpg", caption: "" }) %>
	    </div>

	    <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/16955863008/in/set-72157651516463627", url: "https://farm8.staticflickr.com/7626/16955863008_962f421e37_h.jpg", caption: "" }) %>

		<hr class="last" />
	</div>
</article>