<article>
    <header>
        <h1>
            Dag 273
            <span>Apo Reef Livaboard</span>
        </h1>
        <time datetime="2015-05-18">18. mai 2015 . Apo Reef, Fillipinene</time>
        <img class="main-image" src="https://farm9.staticflickr.com/8880/18149677965_0f00646a7e_k.jpg" alt="" />
        <!-- https://farm9.staticflickr.com/8880/18149677965_508f1d0615_m.jpg -->
    </header>
    
    <div class="post-content bg-subtle-grey">

        <p>
            “Den beste dykkingen i verden” er noe vi hører ofte. Utfordringen er bare at det sies om så mange forskjellige steder i verden. Vi har så langt fått testet blant annet Rødehavet, Great Barrier Reef, Similian Islands, Karibien, Galapagos og Sør-Afrika som alle omtales med noe av verdens beste dykking. Og det slutter ikke der. Flere steder dukker stadig opp. Apo Reef er et korallrev som ligger to timers båttur fra øya Busuanga i Fillipinene og føyer seg inn i rekken av “noe av den beste dykkingen i verden".
        </p>
        <p>
            Vi ankom Coron, den største byen på øya, vi var innom dykkesenteret og prøvde utstyr og slappet av resten av dagen. Avreise til Apo Reef var ikke før kvelden dagen etter, så vi hadde en hel dag til rådighet. Nær Coron ligge flere Japanske vrak som er populære å dykke på. Hege hadde de to siste dagene etter 20 dykk på Malapascua vært litt plaget med ryggen og bestemte seg for å ta det helt med ro. Jonas derimot hadde full tenning og booket en dagstur med tre dykk.
        </p>
        <p>
            Det første dykket var i en lagune som har en helt spesiell vanntemperatur. De første 10 meterne er det 30 grader som ellers, men når man kommer under denne dybden er vannet opp til 40 grader varmt. Ingen av dykkeguidene kunne si helt sikkert hvorfor det var slik, men det var flere ulike teorier. De to neste dykkene var på to ulike vrak. Sikten var ikke så veldig bra, men det var likevel spennende.
        </p>

        <!-- Video fra jonas -->

        <p>
            Om kvelden var det endelig på tide å gå ombord i båten.Vi skulle ikke forlate havnen før tidlig morgenen etter, da ikke havnevesenet tillater noe trafikk om natten.
        </p>

        <div class="imagestrip col-3">
            <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/18149694075/in/album-72157653550519421/", url: "https://farm9.staticflickr.com/8880/18149694075_ac56e97729_z.jpg", caption: "Apo Reef Island" }) %>
            <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17527087814/in/album-72157653550519421/", url: "https://farm8.staticflickr.com/7742/17527087814_ed4b248980_z.jpg", caption: "Dykkegjengen" }) %>
            <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/18149710475/in/album-72157653550519421/", url: "https://farm9.staticflickr.com/8841/18149710475_e55d1a33ef_z.jpg", caption: "Hemsen" }) %>
        </div>

        <p>
            Båten var langt mindre enn de vi har vært på tidligere. Vi var 6 gjester, en dykkeguide, ei kokke, kaptein og fire crew gutter. Uheldig nok ble det totale antallet personer på båten 13, så da måtte man i Filippinsk tro finne en 14. gjest, som i dette tilfellet ble ei høne, ellers ville det bety ulykke.
        </p>
        <p>
            Båten hadde ett rom med fire vegger og tak, det var toalettet, ellers var alt åpent. Alle dykkegjestene sov på “hemsen”, på hver sin madrass som lå utover gulvet. Taket var en presenning. 
        </p>

        <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/18123208346/in/album-72157653550519421/", url: "https://farm8.staticflickr.com/7780/18123208346_de3c111604_h.jpg", caption: "Klar for nattdykk" }) %>

        <p>
            I løpet av de 3 dagene vi var ute på revet hadde vi 10 dykk rundt Apo Reef. Vi fikk sett mye white tip hai, store triggerfish, tunfisk, skilpadder, nudies, og masse annen revfisk. Vannet var utrolig klart og fint, med en sikt opp til 35 meter. Dessverre fikk vi ikke sett noe av det store dyrelivet som man kan være heldig å treffe på her. Det nærmeste var to eagle rays som var va 10-15  meter dypere enn oss.
        </p>
        
        <p>
            En av de morsomste opplevelsene vi hadde var en remora, kalt shark sucker. Den gjør som navnet tilsier; suger seg fast til haier, eller andre store dyr som skilpadder og hvaler. Denne lille karen hadde ikke noe vertsdyr, og måtte ta til takke med et par dykkere for en times tid. 
        </p>

        <div class="imagestrip col-2">
            <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/17527116364/in/album-72157653550519421/", url: "https://farm8.staticflickr.com/7794/17527116364_2d1c6195ca_z.jpg", caption: "" }) %>
            <%- partial("../partials/_flickr.ejs", {link: "https://www.flickr.com/photos/hegerokenes/18150839291/in/album-72157653550519421/", url: "https://farm9.staticflickr.com/8843/18150839291_3bb463c992_z.jpg", caption: "" }) %>
        </div>

        <p>
            Den dukket opp helt i starten av dykket og festet seg i flaska til Jonas. Etter en stund trodde vi at den hadde forsvunnet, men da viste det seg at den hadde flyttet over på Hege. Den beveget seg opp og ned langst hele kroppen, og syns tydelig at ikke neopren var noe stas å feste seg til. Det var en snedig følelse når den fant veien opp til de bare hendene og prøvde å suge seg fast der. Den han med oss helt opp til dykkebåten, men da Jonas stod i stigen på vei ut av vannet måtte den slippe taket. 
        </p>

        <p>
            Vi hadde flesteparten av dykkene på dagtid, men to av dykkene var etter at solen hadde gått ned. Å dykke i bekmørket med hver sin lykt gir en helt annen spenning. Man blir veldig fokusert på det som befinner seg i lyskjeglen, og så er det jo ekstra spennende når man får mulighet til å se hai som jakter, noe den gjør kun om natten.
        </p>

        <%- partial("../partials/_vimeo.ejs", {id: "128141007"}) %>

        <div class="imagestrip col-3">
            <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
            <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
            <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
        </div>

        
        <h3>Dagens Instagram</h3>
        <div class="page-width col-2 instagram-strip">
            <%- partial("../partials/_instagram.ejs", {id: "2yWc4ikA23" }) %>
            <%- partial("../partials/_instagram.ejs", {id: "2yQvZLEA6v" }) %>
            <%- partial("../partials/_instagram.ejs", {id: "2yM-3GkAyu" }) %>
        </div>

        

		<hr class="last" />
    </div>
</article>