<article>
    <header>
        <h1>
            Dag 256
            <span></span>
        </h1>
        <time datetime="2015-05-05">01. mai 2015 . Donsol, Philippines</time>
        <img class="main-image" src="../img/default_image.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

	    <div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	    </div>

	    <div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	    </div>

	    <div class="imagestrip col-3">
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	        <%- partial("../partials/_flickr.ejs", {link: "", url: "", caption: "" }) %>
	    </div>

		<p>

		</p>
		<hr class="last" />
	</div>
</article>