<article>
    <header>
        <h1>
            275
            <span>Den lengste reisen</span>
        </h1>
        <time datetime="2015-05-20">2014/2015 - Nord-, Mellom- og Sør-Amerika, Afrika, Australia og Asia</time>
        <img class="main-image" src="../img/default_image.jpg" alt="" />
    </header>

    <div class="post-content bg-subtle-grey">

		<ul class="cleanlist in-page-menu">
            <% for(var month in public.reisebrev._data){ %>
              <h2><%= month %></h2>
              <% for(var slug in public.reisebrev._data[month]){ %>
                  <li style="background-image: url(<%= public.reisebrev._data[month][slug].image %>);">
                    <a href="/reisebrev/<%= slug %>.html">
                        <b>Dag <%= public.reisebrev._data[month][slug].day %></b>
                        <%= public.reisebrev._data[month][slug].title %>
                        <small><%= public.reisebrev._data[month][slug].date %></small>
                    </a>
                </li>
              <% }; %>
            <% }; %>
        </ul>
	    
		<hr class="last" />
	</div>
</article>